@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ISearchComboProperties>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
    var Hide = Model.HideSearchComboContents;
    var uniqueId = Guid.NewGuid().ToString().Replace("-", "");
    var blocksList = Model.SearchComboContents.ToList();
    var data = new
    {
        blocksList = blocksList.Select(b => new
        {
            content = new
            {
                ComboBoxUserName = ((ComboBoxUserType)b.Content).ComboBoxUserName.ToString(),
                ComboBoxUserMatches = ((ComboBoxUserType)b.Content).ComboBoxUserMatches.Select(matchContent =>
                {
                    var match = (ComboBoxMatchElement)matchContent.Content;
                    return new
                    {
                        ComboBoxMatchElementText = match.ComboBoxMatchElementText.ToString(),
                        ComboBoxMatchElementUrl = match.ComboBoxMatchElementUrl.Url.ToString()
                    };
                })
            }
        })
    };
    var json = Json.Serialize(data);
}

<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("~/Views/Partials/_metaData.cshtml")
    <link rel="stylesheet" href="~/Styles/dropbox.css" />
    <script src="~/Scripts/searchCombo.js"></script>
</head>
@if (!Hide)
{
    <body>
        <div class="DropboxContainer">
            <label class="title">Quién eres?</label>
            <select id="parent-dropdown-@uniqueId" class="dropboxItem">
                <option selected>Selecciona una opción</option>
                @foreach (var item in Model.SearchComboContents)
                {
                    if (item.Content is ComboBoxUserType userType)
                    {
                        <option value="@userType.ComboBoxUserName">@userType.ComboBoxUserName</option>
                    }
                }
            </select>
            <label class="title">Qué buscas?</label>
            <select id="child-dropdown-@uniqueId" class="dropboxItem">
                <option selected>Selecciona una opción</option>
            </select>
            <a href="#" class="searchButton"><i class="fas fa-search"></i></a>
        </div>
    </body>
}
<script>
    const uniqueId = '@uniqueId';
    const searchComboContents = JSON.parse('@Html.Raw(json)');
    initSearchCombo(uniqueId, searchComboContents);
</script>
</html>