@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
    var rootNode = Umbraco.ContentAtRoot().FirstOrDefault();
    IEnumerable<IPublishedContent> GetVisibleChildren(IPublishedContent node)
    {
        return node.Children().Where(x => x.IsVisible());
    }
    IEnumerable<IPublishedContent> GetVisibleDescendants(IPublishedContent node)
    {
        return GetVisibleChildren(node).Concat(GetVisibleChildren(node).SelectMany(GetVisibleDescendants));
    }
    var allVisiblePages = GetVisibleDescendants(rootNode);

    var navigationConfig = Configuration.GetSection("Navigation");
    var hasChildLinks = navigationConfig.Get<List<string>>();
}
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("~/Views/Partials/_metaData.cshtml")
    <link rel="stylesheet" href="~/Styles/navigation.css" />
</head>
<body>
    <nav id="navigation">
        <div>
            <a id="open-menu"><button class="fas fa-bars"></button></a>
            <ul>
                @if (allVisiblePages != null && allVisiblePages.Any())
                {
                    foreach (var item in allVisiblePages)
                    {
                        if (hasChildLinks.Contains(item.Name))
                        {
                            <li class="has-dropdown">
                                <a href="@item.Url()">@item.Name</a>
                                <button class="dropdown-arrow fas fa-chevron-down"></button>
                                <ul class="dropdown">
                                    @foreach (var childLink in item.Children())
                                    {
                                        <li>
                                            <a href="@childLink.Url()">@childLink.Name</a>
                                            @*TODO: add dropdowns in navigationBar*@
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-arrow').on("click", function (e) {
                var dropdownMenu = $(this).next('.dropdown');
                if (dropdownMenu.is(":visible")) {
                    dropdownMenu.hide();
                } else {
                    $('.dropdown').hide();
                    dropdownMenu.show();
                }
                e.stopPropagation();
            });
        });
    </script>
    <script src="~/Scripts/mobileMenuToggle.js"></script>
</body>
</html>