@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent

<div id="formDiv" class="d-none">
  <iframe id="googleFormIframe" class="embed-responsive-item" src="https://docs.google.com/forms/d/e/1FAIpQLSeTKVpGDQZGOehaLoFWlYinsLJnvPm7sgT4LnYQ3Wbe-wuTfQ/viewform?embedded=true" frameborder="0"></iframe>
</div>

<button id="toggleButton" class="btn btn-primary">Formulario</button>

<script src="~/Scripts/googleForm.js"></script>