<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91a7ee93-61bd-4230-8b10-4eaefebf6c35" Alias="footerProperties" Level="2">
  <Info>
    <Name>Footer Properties</Name>
    <Icon>icon-defrag color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5f1785e8-9738-4ee5-a729-7e8afa32e412</Key>
      <Name>footer Items</Name>
      <Alias>footerItems</Alias>
      <Definition>0cf513e0-6802-4ee8-8c97-9d7cbe47379a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerProps">Footer Props</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c018f86b-20d3-45ed-8924-c066ff8533d8</Key>
      <Name>footer Social Media Items</Name>
      <Alias>footerSocialMediaItems</Alias>
      <Definition>e2f96d79-047b-4ad8-85c1-a449da029d6d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footerProps">Footer Props</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b53d02e4-388d-4911-96ee-dabd4c7b18b5</Key>
      <Name>footerTitle</Name>
      <Alias>footerTitle</Alias>
      <Definition>880fa872-d96d-4ad9-85da-8f0999f84759</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the footer Title]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footerProps">Footer Props</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>94ab01e6-ab93-40e7-b716-e27c7e5ae7a2</Key>
      <Caption>Footer Props</Caption>
      <Alias>footerProps</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>