<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec8d1e1f-e222-431b-8fc4-1ddbad0081cc" Alias="homeRedirectButtonProperties" Level="2">
  <Info>
    <Name>Home Redirect Button Properties</Name>
    <Icon>icon-defrag color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>17c6c67f-a2da-4ce3-aa1c-16480f0d2c6e</Key>
      <Name>Hide Home Redirect Button</Name>
      <Alias>hideHomeRedirectButton</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="homeRedirectButtonProperties/homeRedirectButtonProperties">Home Redirect Button Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8701cd80-c2e9-48d7-8cae-7a9661ab4fff</Key>
      <Name>Home Redirect Button Color</Name>
      <Alias>homeRedirectButtonColor</Alias>
      <Definition>13a565d7-ece3-43fc-99f5-de28c2e5c305</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="homeRedirectButtonProperties/homeRedirectButtonProperties">Home Redirect Button Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afd14c6e-ad43-44cc-8ce8-da45ebb3e18f</Key>
      <Name>Home Redirect Button Text</Name>
      <Alias>homeRedirectButtonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeRedirectButtonProperties/homeRedirectButtonProperties">Home Redirect Button Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18460e6f-537e-43f8-b6a3-2c76c3c661cb</Key>
      <Name>Home Redirect Button Text color</Name>
      <Alias>homeRedirectButtonTextColor</Alias>
      <Definition>13a565d7-ece3-43fc-99f5-de28c2e5c305</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="homeRedirectButtonProperties/homeRedirectButtonProperties">Home Redirect Button Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44b5d66c-1328-48e6-94b2-5e080a15c98c</Key>
      <Name>Home Redirect Button URL</Name>
      <Alias>homeRedirectButtonURL</Alias>
      <Definition>4801da97-cf85-4070-8395-6e3bc80803d2</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homeRedirectButtonProperties/homeRedirectButtonProperties">Home Redirect Button Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>454b42fc-4737-47cc-957b-db80e0408f3e</Key>
      <Caption>Home Redirect Button Properties</Caption>
      <Alias>homeRedirectButtonProperties/homeRedirectButtonProperties</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d35ddc58-7662-4640-8877-0c14c698975c</Key>
      <Caption>Home Redirect Button Properties</Caption>
      <Alias>homeRedirectButtonProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>