<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0fa4d4c3-f388-4f45-a51c-f061faa6c6a4" Alias="incubadoras" Level="3">
  <Info>
    <Name>SecondPage</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Navigation+Bar+Page</Folder>
    <Compositions>
      <Composition Key="3a1b66ea-f588-4621-8fe1-47403306617e">footerItems</Composition>
      <Composition Key="8b503aab-c529-4ae5-927b-1865e98efa75">headerProperties</Composition>
      <Composition Key="6c7b6301-3dea-4647-8845-c00a7ff0ff4a">richTextFooterRow</Composition>
      <Composition Key="62e287aa-69ef-4f5f-a15b-4e0845340a59">richTextHeadlineRow</Composition>
    </Compositions>
    <DefaultTemplate>incubadoras</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="49443dfb-cd52-4e7d-8b62-602192d0005f">incubadoras</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fcad1083-c440-462a-88f5-e2681763d185" SortOrder="0">thirdPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d630b068-456c-42a9-a02f-b2924f42c9d0</Key>
      <Name>Footer Items</Name>
      <Alias>footerItems</Alias>
      <Definition>0cf513e0-6802-4ee8-8c97-9d7cbe47379a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerItems">Footer Items</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40b1a1c1-40a9-4f3e-95da-d9dce686f5d5</Key>
      <Name>Incubadora General Content</Name>
      <Alias>incubadoraGeneralContent</Alias>
      <Definition>12d0cd13-384a-419a-8619-a659194477df</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d20fada-00d4-4551-bd7f-05f32ac9891a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>770743f5-947b-4147-a3ac-ce56bf4ce465</Key>
      <Caption>Footer Items</Caption>
      <Alias>footerItems</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>