<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7db8c3dd-c68e-427e-a5c1-2a6fab7a84bf" Alias="jobListingsPage" Level="3">
  <Info>
    <Name>Job Listings Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="8b503aab-c529-4ae5-927b-1865e98efa75">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>BolsaDeTrabajoPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40eea9dd-0143-400f-816e-b534bc743a34">BolsaDeTrabajoPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9884394b-2d50-4e07-b6e0-cf26ff5a9587</Key>
      <Name>contentPageBlocks</Name>
      <Alias>contentPageBlocks</Alias>
      <Definition>12d0cd13-384a-419a-8619-a659194477df</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8241383a-b02e-42e4-aa17-00433166fffb</Key>
      <Name>showChatBot</Name>
      <Alias>showChatBot</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5b0be8f6-7e1d-46d1-8c17-dfcaeeaca687</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>