<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44374351-b11a-4ea5-b879-85e4410e1ae1" Alias="jobListingsPage" Level="3">
  <Info>
    <Name>Job Listings Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="8b503aab-c529-4ae5-927b-1865e98efa75">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>GeneralContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="28866452-b3ab-4e01-b341-4efe0c25bb78" SortOrder="0">generalContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e9c18915-f1da-4cff-9ac0-822122bb37f1</Key>
      <Name>Content Page Blocks</Name>
      <Alias>contentPageBlocks</Alias>
      <Definition>12d0cd13-384a-419a-8619-a659194477df</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>810d4bdd-9f30-4ea5-b158-eccebc9af8b8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>