<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce00f9ce-ba35-487f-a61f-8242f00a5ead" Alias="landingPage" Level="3">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Landing+Page</Folder>
    <Compositions>
      <Composition Key="8b503aab-c529-4ae5-927b-1865e98efa75">headerProperties</Composition>
      <Composition Key="ec8d1e1f-e222-431b-8fc4-1ddbad0081cc">homeRedirectButtonProperties</Composition>
      <Composition Key="62e287aa-69ef-4f5f-a15b-4e0845340a59">richTextHeadlineRow</Composition>
      <Composition Key="1d0f58a0-7054-468e-8e90-0d3eb7498844">searchComboProperties</Composition>
    </Compositions>
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a1534049-127c-4287-acfb-2c7b0b9677bd">LandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="13d0a146-7467-4bf9-bffe-c26e4e215de0" SortOrder="0">header</ContentType>
    <ContentType Key="3eb23b58-5e64-4bee-89ff-672704939804" SortOrder="1">footer</ContentType>
    <ContentType Key="ce00f9ce-ba35-487f-a61f-8242f00a5ead" SortOrder="2">landingPage</ContentType>
    <ContentType Key="28866452-b3ab-4e01-b341-4efe0c25bb78" SortOrder="3">generalContentPage</ContentType>
    <ContentType Key="eae10413-5b56-4e29-8321-27eaba27be68" SortOrder="4">surveyForm</ContentType>
    <ContentType Key="7db8c3dd-c68e-427e-a5c1-2a6fab7a84bf" SortOrder="5">jobListingsPage</ContentType>
    <ContentType Key="5cd443c9-4c91-4c1b-af65-ff88a4cfe247" SortOrder="6">loginPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0d657233-f0b8-4956-9111-63a8f1fce4d3</Key>
      <Name>Embeded Video</Name>
      <Alias>embededVideo</Alias>
      <Definition>2d9249db-45c1-4dc4-9551-9538769f7ccc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="video">Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d5615bdb-5b34-43dc-bcd3-dfc66aeadfb4</Key>
      <Name>Image Carousel</Name>
      <Alias>imageCarousel</Alias>
      <Definition>55e6da97-9dd6-4e11-a0e8-66cffe885750</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imageCarousel">Image Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c15e41ec-0b26-492b-a20b-abfde6a6ab55</Key>
      <Name>News Carousel</Name>
      <Alias>newsCarousel</Alias>
      <Definition>74973db8-3682-4ed2-b614-b8c637f009c6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsCarousel">News Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c90a51e4-45ff-4853-8b28-fee24c11a0d4</Key>
      <Name>Rich Text and Images</Name>
      <Alias>richTextAndImages</Alias>
      <Definition>28fa8ce4-c0a0-4464-aab7-26d139d3d964</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="imagesAndText">Images and Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1cc5ece3-8d87-4116-8847-7bd4b204a7f7</Key>
      <Caption>Video</Caption>
      <Alias>video</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>6e786552-115e-425e-8170-2039a1531a6f</Key>
      <Caption>Images and Text</Caption>
      <Alias>imagesAndText</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>c8080d6a-1541-48ea-abaf-b4e74fe68138</Key>
      <Caption>Image Carousel</Caption>
      <Alias>imageCarousel</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>d7c24302-8b16-449d-bdfe-9e1a8963f5a9</Key>
      <Caption>News Carousel</Caption>
      <Alias>newsCarousel</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>