<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7ec37b55-1f4a-4206-9bf1-8b4421933396" Alias="main" Level="2">
  <Info>
    <Name>Main</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Main</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad466fce-1fd5-4dee-8cea-5302f2737727">Main</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>