<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c31d38b-f3bf-4367-ad9c-d3b89295ae50" Alias="navBarPage" Level="3">
  <Info>
    <Name>NavBar Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Navigation+Bar+Page</Folder>
    <Compositions>
      <Composition Key="b65a7487-af0e-4292-9763-df54ccf874e1">navigationItems</Composition>
    </Compositions>
    <DefaultTemplate>NavBarPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="95dacf94-f2c3-4f7a-b022-141fed53945d">NavBarPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="de41c246-7079-4a86-b1b6-6017fdb639e8" SortOrder="0">emprendimiento</ContentType>
    <ContentType Key="74b4fb89-73c5-4cc9-b89d-ea3f099ab683" SortOrder="1">capacitacion</ContentType>
    <ContentType Key="98831ec1-6c59-4422-aa32-7da7a5b03fce" SortOrder="2">feriasYEventos</ContentType>
    <ContentType Key="6ff33b60-f31d-4e0e-a195-810a6fc1d89e" SortOrder="3">sectorIndustrial</ContentType>
    <ContentType Key="398fdb0c-b287-483c-8321-70f3620560c9" SortOrder="4">apoyosYFinanciamientos</ContentType>
    <ContentType Key="28866452-b3ab-4e01-b341-4efe0c25bb78" SortOrder="5">generalContentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>