<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c7b6301-3dea-4647-8845-c00a7ff0ff4a" Alias="richTextFooterRow" Level="4">
  <Info>
    <Name>Rich Text Footer Row</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+blocks/Content+models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4e540765-0d01-4d0a-a858-528cd8721b02</Key>
      <Name>Footer Font Size</Name>
      <Alias>footerFontSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footerHeadline">Footer Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c21500b-39be-48e5-9f38-2823a492feca</Key>
      <Name>Footer Headline</Name>
      <Alias>footerHeadline</Alias>
      <Definition>4ff0c07c-64c2-4696-9e41-bab0e5c17358</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Edit the headline title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerHeadline">Footer Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3abe176-650b-43d5-bf2c-1e5f15d4aaf0</Key>
      <Name>Footer Headline Color</Name>
      <Alias>footerHeadlineColor</Alias>
      <Definition>06d873ef-1276-4c94-bc8f-28c96dfe179b</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footerHeadline">Footer Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c118081f-8d7c-493a-8c76-0dfdc12a1bb9</Key>
      <Name>Footer Headline Hide</Name>
      <Alias>footerHeadlineHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select to true if you need to hide the text]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footerHeadline">Footer Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cb4b5341-3265-42ed-989b-5a8a9eae0ffb</Key>
      <Caption>Footer Headline</Caption>
      <Alias>footerHeadline</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>