<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0021ecff-cc95-4cbc-b053-4435944b0083" Alias="videoEmbedElement" Level="4">
  <Info>
    <Name>Video Embed Element</Name>
    <Icon>icon-science color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+blocks/Content+models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>365c49cd-e09c-4c33-aa7e-0f980d344d00</Key>
      <Name>Hide Video Embed</Name>
      <Alias>hideVideoEmbed</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="videoEmbedElementProperties">Video Embed Element Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5ade8ac-fcf4-4d3a-9fae-033d69d073b4</Key>
      <Name>Video Embed URL</Name>
      <Alias>videoEmbedURL</Alias>
      <Definition>4801da97-cf85-4070-8395-6e3bc80803d2</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="videoEmbedElementProperties">Video Embed Element Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>El video tiene que ser de YouTube y seguir el formato https://www.youtube.com/embed/ID_del_video</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>57deb758-71fd-4d59-91b2-a9d518bf6107</Key>
      <Caption>Video Embed Element Properties</Caption>
      <Alias>videoEmbedElementProperties</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>