@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web.Common.Attributes
@{
    Layout = null;
}

<div ng-controller="AnalyticsDashboardController as vm">
    <h1>Site Analytics</h1>
    <div>
        <h3>Total Page Views: {{vm.totalPageViews}}</h3>
    </div>
    <div>
        <h3>Page Views by Date Range</h3>
        <input type="date" ng-model="vm.startDate" />
        <input type="date" ng-model="vm.endDate" />
        <button ng-click="vm.getPageViewsByDateRange()">Get Page Views</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Timestamp</th>
                    <th>User Agent</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pageView in vm.pageViews">
                    <td>{{pageView.url}}</td>
                    <td>{{pageView.timestamp | date:'medium'}}</td>
                    <td>{{pageView.userAgent}}</td>
                    <td>{{pageView.ipAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    angular.module("umbraco").controller("AnalyticsDashboardController", function ($http) {
        var vm = this;
        vm.pageViews = [];
        vm.totalPageViews = 0;

        function init() {
            $http.get("/umbraco/backoffice/Analytics/AnalyticsApi/GetAllPageViews").then(function (response) {
                vm.pageViews = response.data;
                vm.totalPageViews = vm.pageViews.length;
            });
        }

        vm.getPageViewsByDateRange = function () {
            $http.get("/umbraco/backoffice/Analytics/AnalyticsApi/GetPageViewsByDateRange", {
                params: {
                    start: vm.startDate.toISOString(),
                    end: vm.endDate.toISOString()
                }
            }).then(function (response) {
                vm.pageViews = response.data;
            });
        };

        init();
    });
</script>