/* Style for the survey form container */
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 16px; /* Base para cálculo de rem */
}
#survey-container {
    display: none;
    position: fixed;
    color: black;
    right: 0.625rem;
    bottom: 0.625rem;
    width: 30vw;
    height: 90vh;
    max-height: 840px;
    padding: 1rem;
    border-radius: 5px;
    z-index: 20;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
    #survey-container h2 {
        background-color: #007BFF;
        color: white;
        padding: 0.625rem;
        border-radius: 5px;
        display:flex;
        justify-content: center;
    }
.survey-form {
    display: flex;
    flex-direction: column;
}
    .survey-form label {
        margin-top: 10px;
    }

    .survey-form input {
        margin-top: 5px;
        padding: 0.625rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }
        .info{
            background-color: lightgray;
            width:100%;
        }
        .survey-form input[type="radio"]:checked {
            accent-color: magenta;
        }

.survey-form button {
    margin-top: 20px;
    padding: 0.625rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

        .survey-form button:hover {
            background-color: #0056b3;
        }

@media (max-width: 1009px){
    #survey-container {
        display: none;
        position: fixed;
        color: black;
        right: 0.625rem;
        bottom: 0.625rem;
        width: 75vw;
        height: 90vh;
        max-height: 840px;
        background-color: white;
        padding: 0.625rem;
        border-radius: 0.320rem;
        z-index: 20;
        overflow-y: auto;
        overflow-x: hidden;
    }
}