* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.centered-col {
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    max-width: 20%;
}

.rainbow-box {
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to right, red, orange, yellow, green, cyan, purple, violet);
}

@media screen and (max-width: 930px) {
    .rainbow-box {
        height: 0.5rem;
    }
}
