.banner-max-height {
    max-height: 33vh
}

.centered-col {
    width: 100%;
    text-align: center;
}

.logo-img {
    max-height: 15vh;
    max-width: 48%;
    width: auto;
    object-fit: contain;
}