* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
.centered-col {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.header-atag-a{
    width:30%;
}
.header-atag-b {
    width: 30%;
}
header-atag-c {
    width: 30%;
}
.logo-img {
    max-height:180px;
}

.rainbow-box {
  width: 100%;
  height: 10px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    purple,
    violet
  );
}

@media screen and (max-width: 930px) {
  .rainbow-box {
    height: 0.5rem;
  }
    .logo-img {
        max-height: 50px;
    }
}
