/* Estilos específicos para el carrusel de imágenes con ID específico */
#imagesCarousel .carousel {
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#imagesCarousel .carousel-indicators li {
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#imagesCarousel .carousel-control-prev,
#imagesCarousel .carousel-control-next {
    align-items: center;
    height: auto;
    width: 8%;
    outline: rgb(0, 0, 0);
    background: none;
    cursor: pointer;
}

#imagesCarousel .carousel-control-prev-icon,
#imagesCarousel .carousel-control-next-icon {
    font-size: 55px;
    color: red;
}

#imagesCarousel .carousel-item {
    min-height: 300px;
    min-height: fit-content; /
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagesCarousel .carousel-item img {
    max-height: 300px;
    width: auto;
    object-fit: contain;
}

#imagesCarousel .carousel-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imagesCarousel .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 12em;
    position: relative;
    color: white;
}

#imagesCarousel .text-content p {
    margin: 0;
    line-height: 1.2;
    max-height: 10.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

#imagesCarousel .text-content::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: bold;
    display: none;
}

#imagesCarousel .text-content.overflow::after {
    display: block;
}

/* Responsive styles */
@media (max-width: 767px) {
    #imagesCarousel .carousel-item {
        min-height: 320px;
    }

    #imagesCarousel .carousel-item img {
        min-height: 200px; 
    }

    #imagesCarousel .carousel-item-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #imagesCarousel .carousel-img-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 50%;
    }

    #imagesCarousel .carousel-img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
}
