/* Estilos para las imágenes del carrusel */
#carousel_image {
    max-width: 692px !important; /* 80% de 865px */
    max-height: 268.8px !important; /* 80% de 336px */
}

/* Estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* Configuración base de tamaño de fuente para usar rems */
}

/* Estilos para desktop y tablet */
@media (min-width: 970px) {
    #open-menu {
        display: none; /* Ocultar el menú de apertura en pantallas grandes */
    }

    /* Puedes agregar aquí más ajustes para desktop y tablet */
}

/* Estilos para smartphone */
@media (max-width: 969px) {
    /* Ajustar las imágenes del carrusel para pantallas pequeñas */
    #carousel_image {
        max-width: 100% !important; /* Ajustar ancho al 100% del contenedor */
        height: auto !important; /* Mantener la proporción de la imagen */
    }

    /* Mostrar el menú de apertura en pantallas pequeñas */
    #open-menu {
        display: block;
        background-color: #4471c4;
        color: white;
        font-size: 1rem; /* Tamaño de fuente reducido */
        padding-left: 0.5rem; /* Espaciado reducido */
        padding-top: 0.35rem;
    }

    /* Estilos para el icono de barras del menú */
    #bars {
        width: 1.5rem; /* Tamaño reducido */
        border: solid 0.05rem white; /* Borde reducido */
        border-radius: 20%;
        padding: 0.05rem; /* Padding reducido */
        padding-left: 0.3rem; /* Padding izquierdo reducido */
        padding-right: 0.3rem; /* Padding derecho reducido */
    }

    /* Puedes agregar aquí más ajustes para smartphone */
}

/* Estilos para las flechas de navegación del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem; /* Aumentar tamaño de las flechas */
    height: 2.5rem; /* Aumentar tamaño de las flechas */
    background-color: transparent; /* Eliminar fondo */
}

    /* Asegurar que las flechas sean blancas y más grandes */
    .carousel-control-prev-icon::before,
    .carousel-control-next-icon::before {
        color: #ffffff; /* Color blanco para las flechas */
        font-size: 2.5rem; /* Aumentar tamaño del icono de flecha */
    }
