.image {
    max-height: 350px;
    width: auto;
    object-fit: cover;
}

.column-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-start {
    text-align: start;
}