<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c45c9416-0249-4af0-ae42-9059499aff84" Alias="[BlockList] RichText Subtitle" Level="1">
  <Info>
    <Name>[BlockList] RichText Subtitle</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Rich Text'+$index}}",
      "settingsElementTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>