<?xml version="1.0" encoding="utf-8"?>
<DataType Key="789e0e74-16f3-4690-bba8-91bb60fe7bed" Alias="[BlockList] Search Combo Box Match Elements" Level="1">
  <Info>
    <Name>[BlockList] Search Combo Box Match Elements</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Combo Box Match element ' +$index}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>