<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74973db8-3682-4ed2-b614-b8c637f009c6" Alias="[BlockList] News Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] News Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 8,
    "min": null
  }
}]]></Config>
</DataType>