<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cf513e0-6802-4ee8-8c97-9d7cbe47379a" Alias="[BlockList] Footer Items" Level="1">
  <Info>
    <Name>[BlockList] Footer Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{'Footer Items' + ' '+$index}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 12,
    "min": null
  }
}]]></Config>
</DataType>