<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2f96d79-047b-4ad8-85c1-a449da029d6d" Alias="[BlockList] Social Media Items" Level="1">
  <Info>
    <Name>[BlockList] Social Media Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9b304fde-5bef-461b-8c5c-4ac31273e273",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{' [Social Media Item '+ $index+ ' ]'}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>