<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4a8f424-ad3c-4c40-9974-14ee3b82387b" Alias="[Color Picker] Rich Text Items - Text Color" Level="1">
  <Info>
    <Name>[Color Picker] Rich Text Items - Text Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": false
}]]></Config>
</DataType>