<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06d873ef-1276-4c94-bc8f-28c96dfe179b" Alias="Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>