<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8535fe05-ec8f-4dee-9931-2d7b9735bad0" Alias="Home Redirect Button Properties - Home Redirect Button Color - Color Picker" Level="1">
  <Info>
    <Name>Home Redirect Button Properties - Home Redirect Button Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "UseLabel": false
}]]></Config>
</DataType>