<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b310ea5d-3903-4722-a4a6-663755eaae2e" Alias="List View - uFormHexxu" Level="1">
  <Info>
    <Name>List View - uFormHexxu</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": false,
    "allowBulkUnpublish": false
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "dateAndTimeOfAMessage",
      "header": "Sent At",
      "isSystem": 0,
      "nameTemplate": null
    },
    {
      "alias": "message",
      "header": "Message",
      "isSystem": 0,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "dateAndTimeOfAMessage",
  "OrderDirection": "desc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": "Submissions",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>