<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf0050b1-5fed-4c0c-8c70-06201f6d3bea" Alias="LoginSignup - Login Title - Textbox" Level="1">
  <Info>
    <Name>LoginSignup - Login Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>