<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7127a649-c678-4d30-a278-747a24028c27" Alias="LoginRegister- Content - Rich Text Editor" Level="1">
  <Info>
    <Name>LoginRegister- Content - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "link",
      "umbblockpicker",
      "umbmacro",
      "table"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "inline"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>