<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8eb9aa2a-b78c-49aa-a6ac-e5e08ac61e1c" Alias="Login - Title - Textbox (1)" Level="1">
  <Info>
    <Name>Login - Title - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>