<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16498fcf-5e23-4313-94b0-3a7672b488c5" Alias="Login - Title - Textbox" Level="1">
  <Info>
    <Name>Login - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>