<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0169f038-8470-4ff7-877b-51e78ae2bacf" Alias="Logo Items - Logo Item Background color - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Logo Items - Logo Item Background color - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": false
}]]></Config>
</DataType>