<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4801da97-cf85-4070-8395-6e3bc80803d2" Alias="[Multi URL Picker] Single URL Picker" Level="1">
  <Info>
    <Name>[Multi URL Picker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "medium"
}]]></Config>
</DataType>