<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ff0c07c-64c2-4696-9e41-bab0e5c17358" Alias="Rich Text Items - Rich Text - Rich Text Editor" Level="1">
  <Info>
    <Name>Rich Text Items - Rich Text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "outdent",
      "indent",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>