<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17d72d23-bc55-4830-a219-ca0cb6015a0a" Alias="[Rich Text Editor] Landing Page - Video embed" Level="1">
  <Info>
    <Name>[Rich Text Editor] Landing Page - Video embed</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>