@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    var authApiLogout = Configuration["ApiSettings:AuthApiLogout"];
    var authApiCheckSession = Configuration["ApiSettings:AuthApiCheckSession"];
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="~/Styles/logoutButton.css" rel="stylesheet" />
</head>

<body>
    <div class="baseButton">
        <button class="logoutButton btn btn-primary btn-lg p-1" onclick="logout()">
            <i class="bi bi-power fs-2 fw-bold"></i>
        </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const authToken = JSON.parse(localStorage.getItem('authToken'));
        // function to verify expirationDate
        function TokenExpirationDate() {
            if (authToken && authToken.expiration) {
                const tiempoActual = new Date().getTime();
                const expirationTime = new Date(authToken.expiration).getTime();
                if (tiempoActual > expirationTime) {
                    alert('El token ha caducado.');
                    logout();
                } else {
                    console.info('El token sigue siendo válido.');
                }
            } else {
                console.error('No hay ningún token almacenado o no tiene fecha de expiración.');
            }
        }
        setInterval(TokenExpirationDate, 15 * 60 * 1000);
        TokenExpirationDate();

        // function to logout and remove authToken
        async function logout() {
            if (!authToken || !authToken.token) {
                alert("No hay una sesión activa.");
                return;
            }
            try {
                const response = await fetch('@authApiLogout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${authToken.token}`
                    }
                });
                if (response.ok) {
                    localStorage.removeItem('authToken');
                    alert("Sesión cerrada exitosamente.");
                    window.location.href = '/loginpage/';
                } else {
                    alert("No se pudo cerrar la sesión. Intenta de nuevo.");
                }
            } catch (error) {
                console.error('Error durante el cierre de sesión:', error);
                alert("Ocurrió un error. Inténtalo más tarde.");
            }
        }
    </script>
</body>
