<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2fcf824-145a-491c-81dc-0a6dd2cb06f5" Alias="20230526 122412 (1)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:15</CreateDate>
    <NodeName Default="20230526 122412 (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/el2pzis0/20230526_122412-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>