<?xml version="1.0" encoding="utf-8"?>
<Media Key="82309bcb-b418-4a6e-bdc5-1a7eedbc021e" Alias="20230526 122451 (1)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:17</CreateDate>
    <NodeName Default="20230526 122451 (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zwndbaqy/20230526_122451-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>