<?xml version="1.0" encoding="utf-8"?>
<Media Key="a30b9ac0-43ae-47e6-810b-6cfcb90abd6a" Alias="20230525 135350 (2)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:13</CreateDate>
    <NodeName Default="20230525 135350 (2)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y0naxi3o/20230525_135350-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>