<?xml version="1.0" encoding="utf-8"?>
<Media Key="13019fe8-22b2-4951-803f-b36c3cc43e14" Alias="Aaaaaaaaaaa" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aaaaaaaaaaa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-11T15:05:37</CreateDate>
    <NodeName Default="Aaaaaaaaaaa" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/30pbce3s/aaaaaaaaaaa.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>