<?xml version="1.0" encoding="utf-8"?>
<Media Key="e223702d-a7ea-4b63-b631-34df3dbb4d9b" Alias="BANNERS LANDING PAGE 03" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/BANNERSLANDINGPAGE03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:55:44</CreateDate>
    <NodeName Default="BANNERS LANDING PAGE 03" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fnychyxk/banners-landing-page-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>