<?xml version="1.0" encoding="utf-8"?>
<Media Key="88a7e8cd-344e-4e95-ad9e-e8f860799a6e" Alias="BANNERS LANDING PAGE Mesa De Trabajo" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/BANNERSLANDINGPAGEMesaDeTrabajo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:55:44</CreateDate>
    <NodeName Default="BANNERS LANDING PAGE Mesa De Trabajo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zpukpcco/banners-landing-page_mesa-de-trabajo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>