<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2de4bff-2237-4d99-93e4-bc10103661a6" Alias="BANNERS LANDING PAGE Mesa De Trabajo 1" Level="2">
  <Info>
    <Parent Key="eeeb3324-0036-4fa0-b485-67fc84c8fc87">Banners</Parent>
    <Path>/Banners/BANNERSLANDINGPAGEMesaDeTrabajo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T20:07:34</CreateDate>
    <NodeName Default="BANNERS LANDING PAGE Mesa De Trabajo 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ffn3irx/banners-landing-page_mesa-de-trabajo-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>