<?xml version="1.0" encoding="utf-8"?>
<Media Key="152569ac-1057-4686-9ac3-59e66ee869ff" Alias="Banner Kolau" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BannerKolau</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T00:00:08</CreateDate>
    <NodeName Default="Banner Kolau" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vjudkfkx/banner-kolau.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>