<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee557971-b5ab-4620-9cb9-173e4e3b4773" Alias="BANNERS LANDING PAGE 03" Level="2">
  <Info>
    <Parent Key="eeeb3324-0036-4fa0-b485-67fc84c8fc87">Banners</Parent>
    <Path>/Banners/BANNERSLANDINGPAGE03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T20:07:31</CreateDate>
    <NodeName Default="BANNERS LANDING PAGE 03" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o32fl1vl/banners-landing-page-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>