<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeeb3324-0036-4fa0-b485-67fc84c8fc87" Alias="Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-30T20:07:26</CreateDate>
    <NodeName Default="Banners" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties />
</Media>