<?xml version="1.0" encoding="utf-8"?>
<Media Key="98f15108-8d05-424e-afb0-1cb297a14029" Alias="C 002" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:38:23</CreateDate>
    <NodeName Default="C 002" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bzipdgaf/c-002.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>