<?xml version="1.0" encoding="utf-8"?>
<Media Key="99f0ef11-3b29-45f3-921d-d16968032719" Alias="C 001" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:38:23</CreateDate>
    <NodeName Default="C 001" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c5xpbgjj/c-001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>