<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c198740-a5eb-4c0a-91d7-b5b6493d689d" Alias="CAPITAL VIRTUAL SIN FONDO" Level="2">
  <Info>
    <Parent Key="fc1b4b3b-ccf2-4893-b7ee-66a501806ce9">CapitalVirtual</Parent>
    <Path>/CapitalVirtual/CAPITALVIRTUALSINFONDO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T19:11:56</CreateDate>
    <NodeName Default="CAPITAL VIRTUAL SIN FONDO" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i0dbs1hl/capital-virtual-sin-fondo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>