<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dab86c0-3b34-447f-92c7-5af47f2297fd" Alias="CapitalEmprendimiento" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CapitalEmprendimiento</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-27T20:23:12</CreateDate>
    <NodeName Default="CapitalEmprendimiento" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties />
</Media>