<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc1b4b3b-ccf2-4893-b7ee-66a501806ce9" Alias="CapitalVirtual" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CapitalVirtual</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-27T19:11:17</CreateDate>
    <NodeName Default="CapitalVirtual" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>