<?xml version="1.0" encoding="utf-8"?>
<Media Key="45b513a7-4360-460b-8cd6-81db73efd28d" Alias="Capital De Emprendimiento Logo" Level="2">
  <Info>
    <Parent Key="6dab86c0-3b34-447f-92c7-5af47f2297fd">CapitalEmprendimiento</Parent>
    <Path>/CapitalEmprendimiento/CapitalDeEmprendimientoLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T20:24:12</CreateDate>
    <NodeName Default="Capital De Emprendimiento Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uejlkrla/capital-de-emprendimiento-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>