<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6088b0e-9ca7-4939-88ae-e07b0ed35c1b" Alias="Carousel images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarouselImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-30T00:00:26</CreateDate>
    <NodeName Default="Carousel images" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties />
</Media>