<?xml version="1.0" encoding="utf-8"?>
<Media Key="de102b28-6281-4d59-8855-37d1a1b0e122" Alias="CEDEFAM PUNTA ORIENTE" Level="2">
  <Info>
    <Parent Key="d5d324e1-d507-4cd4-86d9-0e817d8f8657">MAPS images</Parent>
    <Path>/MAPSImages/CEDEFAMPUNTAORIENTE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T23:07:03</CreateDate>
    <NodeName Default="CEDEFAM PUNTA ORIENTE" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fyvbbxub/captura-de-pantalla-2024-05-29-170648.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>