<?xml version="1.0" encoding="utf-8"?>
<Media Key="ede21c3c-a0ee-4515-b6bf-e4d1af5aa960" Alias="CENTRO SAN MARTIN" Level="2">
  <Info>
    <Parent Key="d5d324e1-d507-4cd4-86d9-0e817d8f8657">MAPS images</Parent>
    <Path>/MAPSImages/CENTROSANMARTIN</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T23:19:05</CreateDate>
    <NodeName Default="CENTRO SAN MARTIN" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hioof1po/captura-de-pantalla-2024-05-29-171852.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>