<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cf32c84-ec82-4228-9366-bd30f60d2035" Alias="Default" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Default</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T16:59:31</CreateDate>
    <NodeName Default="Default" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qiwpghec/default.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>