<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc676649-c5d4-4744-8f29-d265b09e910c" Alias="Dir 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dir2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T05:25:05</CreateDate>
    <NodeName Default="Dir 2" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j3tgpxgu/dir-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>