<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c4814b8-f243-4f67-ba95-d1b462b04f95" Alias="E 003" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:38:23</CreateDate>
    <NodeName Default="E 003" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xykeqhcd/e-003.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>