<?xml version="1.0" encoding="utf-8"?>
<Media Key="05334d12-3195-4d67-8bf8-5228ac9ad830" Alias="E83143 46709396E2be4633867d66afc1c3b520~Mv2" Level="2">
  <Info>
    <Parent Key="fc1b4b3b-ccf2-4893-b7ee-66a501806ce9">CapitalVirtual</Parent>
    <Path>/CapitalVirtual/E8314346709396E2be4633867d66afc1c3b520Mv2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T19:11:56</CreateDate>
    <NodeName Default="E83143 46709396E2be4633867d66afc1c3b520~Mv2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/crgdgbmv/e83143_46709396e2be4633867d66afc1c3b520-mv2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>