<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c6e7970-b67b-437a-a262-fbe79b00a9a6" Alias="EMPRENDEDOR FOMECH 3" Level="2">
  <Info>
    <Parent Key="6d9b86d6-3c65-44f0-b6b6-a5216922d87b">Eventos y Festividades</Parent>
    <Path>/EventosYFestividades/EMPRENDEDORFOMECH3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:22:24</CreateDate>
    <NodeName Default="EMPRENDEDOR FOMECH 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oz2h21d1/emprendedor-fomech-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>