<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ae956e2-3cf0-435a-a264-9046c3866cf7" Alias="EMPRENDEDOR FOMECH 2" Level="2">
  <Info>
    <Parent Key="6d9b86d6-3c65-44f0-b6b6-a5216922d87b">Eventos y Festividades</Parent>
    <Path>/EventosYFestividades/EMPRENDEDORFOMECH2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:22:25</CreateDate>
    <NodeName Default="EMPRENDEDOR FOMECH 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2rlosoxq/emprendedor-fomech-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>