<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee296106-befe-4ed6-b20a-71ae610dae03" Alias="ENCES 04" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ENCES04</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T18:29:52</CreateDate>
    <NodeName Default="ENCES 04" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/abqdt1x4/ences-04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>