<?xml version="1.0" encoding="utf-8"?>
<Media Key="403713e8-920d-440e-93a6-291a17a9c40b" Alias="Ences" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ences</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-27T22:39:54</CreateDate>
    <NodeName Default="Ences" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties />
</Media>