<?xml version="1.0" encoding="utf-8"?>
<Media Key="de79d955-74e1-491a-a77f-7493a57b48a0" Alias="ENCES 02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ENCES02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T21:15:04</CreateDate>
    <NodeName Default="ENCES 02" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kpmhtxxb/ences-02.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>