<?xml version="1.0" encoding="utf-8"?>
<Media Key="da72dcb5-eaf5-46b8-bfd9-bf3415102534" Alias="Estadisticas" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Estadisticas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T05:52:16</CreateDate>
    <NodeName Default="Estadisticas" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wpohfwxv/estadisticas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>