<?xml version="1.0" encoding="utf-8"?>
<Media Key="98ff1a5a-cdf6-44bb-b99e-4911fb61a70c" Alias="FOMECH" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FOMECH</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-30T00:15:10</CreateDate>
    <NodeName Default="FOMECH" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties />
</Media>