<?xml version="1.0" encoding="utf-8"?>
<Media Key="342ee9e8-b0a7-41dd-8f94-f821f48464bf" Alias="Fondo Municipal Mi Pyme Logo" Level="2">
  <Info>
    <Parent Key="86f13588-5254-4805-a469-354fe81621e1">ImpulsoMunicipa</Parent>
    <Path>/ImpulsoMunicipa/FondoMunicipalMiPymeLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T20:00:43</CreateDate>
    <NodeName Default="Fondo Municipal Mi Pyme Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/31ud2nfh/impulso-mipyme-01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>