<?xml version="1.0" encoding="utf-8"?>
<Media Key="af4ebc60-5c65-4c22-8dc9-60f15c212acb" Alias="Images (1)" Level="2">
  <Info>
    <Parent Key="fc1b4b3b-ccf2-4893-b7ee-66a501806ce9">CapitalVirtual</Parent>
    <Path>/CapitalVirtual/Images1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T19:11:56</CreateDate>
    <NodeName Default="Images (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m04e3l1f/images-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>