<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a09250b-e285-4e4d-9a2f-142194e133f7" Alias="Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T19:21:39</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/busbswuf/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>