<?xml version="1.0" encoding="utf-8"?>
<Media Key="56c6155d-2b12-47a7-b356-98ed33d0a67a" Alias="Image (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T19:21:39</CreateDate>
    <NodeName Default="Image (1)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmknmvqs/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>