<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2cc7668-1d32-4bc1-b97a-179036f6834e" Alias="IMG 4024" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4024</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:24</CreateDate>
    <NodeName Default="IMG 4024" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nz1mzyrs/img_4024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>