<?xml version="1.0" encoding="utf-8"?>
<Media Key="996d75bf-b529-4be5-b409-641fd3def7e2" Alias="IMG 4138" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4138</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="IMG 4138" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xf0h1gjj/img_4138.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>