<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc101651-364e-41e9-9c0b-d5797d9a1f08" Alias="IMG 4023" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4023</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:28</CreateDate>
    <NodeName Default="IMG 4023" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k2lbbpco/img_4023.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>