<?xml version="1.0" encoding="utf-8"?>
<Media Key="7014923b-ff45-4d14-9b10-c55e25ebd1ab" Alias="IMG 4136" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4136</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:28</CreateDate>
    <NodeName Default="IMG 4136" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hwjbi2cf/img_4136.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>