<?xml version="1.0" encoding="utf-8"?>
<Media Key="51544e36-f3b2-45f2-b653-6c30b0df8049" Alias="IMG 4185" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4185</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="IMG 4185" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gbhfiuns/img_4185.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>