<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a6b84cc-7577-4fec-99bc-7ef27c955aba" Alias="IMG 4144" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4144</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:27</CreateDate>
    <NodeName Default="IMG 4144" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zkcgw0tx/img_4144.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>