<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a0d6a60-9ff7-4808-ad9d-fa9b9ea0623b" Alias="IMG 4174" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4174</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="IMG 4174" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mzva0wxx/img_4174.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>