<?xml version="1.0" encoding="utf-8"?>
<Media Key="b88e9376-b5e8-471e-8998-7112cc4a7712" Alias="IMG 4130" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/IMG4130</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:28</CreateDate>
    <NodeName Default="IMG 4130" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ocjj3ohi/img_4130.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>