<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee9526a2-388f-4787-a0d0-b81596ae050f" Alias="Impulso 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Impulso4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-28T18:34:03</CreateDate>
    <NodeName Default="Impulso 4" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqtjl1up/impulso-4.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>