<?xml version="1.0" encoding="utf-8"?>
<Media Key="7de0649f-c246-48bd-bb6c-38b29df58de9" Alias="Incubadoras" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Incubadoras</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-22T23:18:19</CreateDate>
    <NodeName Default="Incubadoras" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>