<?xml version="1.0" encoding="utf-8"?>
<Media Key="f12289b6-fb9c-4999-b9b5-77e9ee59a12a" Alias="Landing Responsive (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LandingResponsive1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-28T20:43:53</CreateDate>
    <NodeName Default="Landing Responsive (1)" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wcedf2m2/landing-responsive.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>