<?xml version="1.0" encoding="utf-8"?>
<Media Key="d54dde63-a971-443a-ae6f-3b7f75c8affc" Alias="Logo Municipio C Azul" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoMunicipioCAzul</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T14:46:54</CreateDate>
    <NodeName Default="Logo Municipio C Azul" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mxpe1vlr/logo-municipio-c_azul.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>