<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2e73e1e-dbd8-43ad-b381-68dbd2c3b3cf" Alias="Logo Idea Azul" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoIdeaAzul</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T14:46:50</CreateDate>
    <NodeName Default="Logo Idea Azul" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/da5opuwy/idea_logo_001.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>