<?xml version="1.0" encoding="utf-8"?>
<Media Key="3508eddc-36b6-4d71-9bcd-9d9bae4d2503" Alias="Logo Idea Blanco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoIdeaBlanco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T14:46:45</CreateDate>
    <NodeName Default="Logo Idea Blanco" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1lwbqnnw/logo-idea-blanco.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>