<?xml version="1.0" encoding="utf-8"?>
<Media Key="31210c93-dc4f-4822-9485-30c86de92b40" Alias="Logo Municipio Mesa De Trabajo 1 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoMunicipioMesaDeTrabajo11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-12T19:09:55</CreateDate>
    <NodeName Default="Logo Municipio Mesa De Trabajo 1 (1)" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sugccmkp/logo-municipio_mesa-de-trabajo-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>