<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8ff693b-9b9a-4af4-b81c-b144c214f95c" Alias="Logo Capital Blanco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoCapitalBlanco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T14:47:04</CreateDate>
    <NodeName Default="Logo Capital Blanco" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hvup5we0/logo-capital-blanco.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>