<?xml version="1.0" encoding="utf-8"?>
<Media Key="db3c8ffe-0b36-4d30-abab-a703946fc55a" Alias="Logo Municipio Blanco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoMunicipioBlanco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-29T14:46:36</CreateDate>
    <NodeName Default="Logo Municipio Blanco" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5chdzwzw/logo-municipio-blanco.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>