<?xml version="1.0" encoding="utf-8"?>
<Media Key="5606b90f-6bf3-461a-ba83-8a54b1dcd700" Alias="M 001" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/M</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:38:23</CreateDate>
    <NodeName Default="M 001" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bg2bmvxt/m-001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>