<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bba005d-e28e-477e-ba77-ebfbf7dc4e16" Alias="M 002" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/M</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:38:23</CreateDate>
    <NodeName Default="M 002" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmalvc2o/m-002.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>