<?xml version="1.0" encoding="utf-8"?>
<Media Key="09d8dee0-efe7-4d31-b312-7cf170080fb0" Alias="M 003" Level="2">
  <Info>
    <Parent Key="7dbec81a-220d-4951-8acd-7e628cdbf491">testMicrositio</Parent>
    <Path>/testMicrositio/M</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-16T17:38:22</CreateDate>
    <NodeName Default="M 003" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/21pnqcph/m-003.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>