<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5d324e1-d507-4cd4-86d9-0e817d8f8657" Alias="MAPS images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MAPSImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-08T18:00:49</CreateDate>
    <NodeName Default="MAPS images" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>