<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f6fd54f-9528-4706-98ad-f0838568f906" Alias="MEJORA TU MARCA (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MEJORATUMARCA1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-28T21:20:26</CreateDate>
    <NodeName Default="MEJORA TU MARCA (1)" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jhkh5hzi/mejora-tu-marca.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>