<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4aee3b3-b32d-46f5-8f95-3e8b3af175de" Alias="MEJORA TU MARCA" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MEJORATUMARCA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T15:21:46</CreateDate>
    <NodeName Default="MEJORA TU MARCA" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wxrl3nbn/mejora-tu-marca.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>