<?xml version="1.0" encoding="utf-8"?>
<Media Key="cff2f165-50ba-4c76-8b00-b28fbbcd0e5b" Alias="Mifam" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mifam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T18:32:20</CreateDate>
    <NodeName Default="Mifam" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mpypft30/mifam.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>