<?xml version="1.0" encoding="utf-8"?>
<Media Key="f81ff30f-a2be-4d44-991e-5edb8342c64d" Alias="MIFAM 15" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MIFAM15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T23:51:22</CreateDate>
    <NodeName Default="MIFAM 15" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bhzb54f4/mifam-15.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>