<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d84271c-46d7-41f0-a814-c929a6ae777f" Alias="Pexels Energepic Com 27411 110469" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsEnergepicCom27411110469</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T05:13:30</CreateDate>
    <NodeName Default="Pexels Energepic Com 27411 110469" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ditjitox/pexels-energepic-com-27411-110469.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>