<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeb98a4a-b14e-4f47-9bbe-5b16b57d3e0f" Alias="Pexels Thisisengineering 3861969" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsThisisengineering3861969</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T05:07:39</CreateDate>
    <NodeName Default="Pexels Thisisengineering 3861969" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jsflt1so/pexels-thisisengineering-3861969.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>