<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d35f63a-9bcf-40af-9ea8-06898ced692d" Alias="Pexels Chevanon 1108101" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsChevanon1108101</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T05:01:25</CreateDate>
    <NodeName Default="Pexels Chevanon 1108101" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ht1dk5op/pexels-chevanon-1108101.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>