<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d86ca5f-0780-453a-af89-ca95ac20e267" Alias="Pexels Mastercowley 897817(1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsMastercowley8978171</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-09T04:56:21</CreateDate>
    <NodeName Default="Pexels Mastercowley 897817(1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lhfimdma/pexels-mastercowley-897817-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>