<?xml version="1.0" encoding="utf-8"?>
<Media Key="c004341f-316b-4916-a5f4-22f78f482bc9" Alias="PP 003" Level="2">
  <Info>
    <Parent Key="584cbacb-e8fe-413a-81cc-e9e76827ee32">PROYECTOS_PRODUCTIVOS</Parent>
    <Path>/PROYECTOS_PRODUCTIVOS/PP003</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T16:00:24</CreateDate>
    <NodeName Default="PP 003" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/de0ajqdl/pp_003.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>