<?xml version="1.0" encoding="utf-8"?>
<Media Key="07003d5b-9330-4fb3-8edd-7b5285f98e62" Alias="PP 004" Level="2">
  <Info>
    <Parent Key="584cbacb-e8fe-413a-81cc-e9e76827ee32">PROYECTOS_PRODUCTIVOS</Parent>
    <Path>/PROYECTOS_PRODUCTIVOS/PP004</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T16:00:24</CreateDate>
    <NodeName Default="PP 004" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lu4babzq/pp_004.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>