<?xml version="1.0" encoding="utf-8"?>
<Media Key="55f51c94-70af-4039-a9c3-65460707c15b" Alias="PROYECTOS PRODUCTIVOS 01" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PROYECTOSPRODUCTIVOS01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T15:55:48</CreateDate>
    <NodeName Default="PROYECTOS PRODUCTIVOS 01" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/siopkvnp/proyectos-productivos-01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>