<?xml version="1.0" encoding="utf-8"?>
<Media Key="584cbacb-e8fe-413a-81cc-e9e76827ee32" Alias="PROYECTOS_PRODUCTIVOS" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PROYECTOS_PRODUCTIVOS</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-29T16:00:16</CreateDate>
    <NodeName Default="PROYECTOS_PRODUCTIVOS" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties />
</Media>