<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d7d6786-cdfe-47a9-b4cb-27e61ecab352" Alias="SARE 01" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SARE01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T21:43:49</CreateDate>
    <NodeName Default="SARE 01" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qbth0xp4/sare-01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>