<?xml version="1.0" encoding="utf-8"?>
<Media Key="312bb98e-3583-4f4d-b5dc-50d2925e2940" Alias="SARE Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SARELogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-24T18:01:34</CreateDate>
    <NodeName Default="SARE Logo" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rc2dwmmd/sare_logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>