<?xml version="1.0" encoding="utf-8"?>
<Media Key="94d92ca8-ebc0-4d10-bb4a-a32464c0d662" Alias="SARE MAPS" Level="2">
  <Info>
    <Parent Key="d5d324e1-d507-4cd4-86d9-0e817d8f8657">MAPS images</Parent>
    <Path>/MAPSImages/SAREMAPS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T23:06:00</CreateDate>
    <NodeName Default="SARE MAPS" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vywntfga/captura-de-pantalla-2024-05-29-165934.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>