<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dbec81a-220d-4951-8acd-7e628cdbf491" Alias="testMicrositio" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testMicrositio</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-16T17:38:15</CreateDate>
    <NodeName Default="testMicrositio" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>