<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3fa8635-d4ba-47f4-9459-217a61b5a0e9" Alias="Text" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Text</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-25T13:18:43</CreateDate>
    <NodeName Default="Text" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>