<?xml version="1.0" encoding="utf-8"?>
<Media Key="53234ff4-1dfd-4018-b22b-2b36d0135e9a" Alias="UACH Logo" Level="2">
  <Info>
    <Parent Key="7de0649f-c246-48bd-bb6c-38b29df58de9">Incubadoras</Parent>
    <Path>/Incubadoras/UACHLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-22T23:18:54</CreateDate>
    <NodeName Default="UACH Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4jhdgu53/uach_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>