<?xml version="1.0" encoding="utf-8"?>
<Media Key="95360454-5e2b-4187-93ff-aff9b667e0dd" Alias="Whatsapp Image 2024 05 08 At 3.00.33 PM 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At30033PM2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:12:49</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.00.33 PM 2" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kicdnfjl/whatsapp-image-2024-05-08-at-30033-pm-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>