<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfca9aeb-d466-4f0c-b82a-ae0d2aec7ce7" Alias="Whatsapp Image 2023 07 31 At 11.33.17 PM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At113317PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:43</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.33.17 PM" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3wnmvp1g/whatsapp-image-2023-07-31-at-113317-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>