<?xml version="1.0" encoding="utf-8"?>
<Media Key="d66ce8dd-4986-40cc-87c1-abd7d3117357" Alias="Whatsapp Image 2024 05 08 At 3.00.33 PM" Level="2">
  <Info>
    <Parent Key="d6088b0e-9ca7-4939-88ae-e07b0ed35c1b">Carousel images</Parent>
    <Path>/CarouselImages/WhatsappImage20240508At30033PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T00:00:29</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.00.33 PM" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1pugzvug/whatsapp-image-2024-05-08-at-30033-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>