<?xml version="1.0" encoding="utf-8"?>
<Media Key="77382e72-9f19-4a55-bc9f-5f0fd2e226f7" Alias="Whatsapp Image 2023 07 21 At 10.05.54 AM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230721At100554AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:28</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 21 At 10.05.54 AM" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oqxdq3yz/whatsapp-image-2023-07-21-at-100554-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>