<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8df6f77-f927-4357-a959-c744cacc1ad3" Alias="Whatsapp Image 2024 05 08 At 2.58.52 PM 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At25852PM2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:12:54</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 2.58.52 PM 2" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ofxn54bh/whatsapp-image-2024-05-08-at-25852-pm-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>