<?xml version="1.0" encoding="utf-8"?>
<Media Key="35f241c5-1172-48fc-9f2d-54aaae9c4149" Alias="Whatsapp Image 2023 07 28 At 11.15.54 AM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230728At111554AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 28 At 11.15.54 AM" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ynapenls/whatsapp-image-2023-07-28-at-111554-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>