<?xml version="1.0" encoding="utf-8"?>
<Media Key="34896fc0-5e92-4c1e-b78e-173ef52a583f" Alias="Whatsapp Image 2023 07 31 At 11.26.43 PM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At112643PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.26.43 PM" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yzxjsnes/whatsapp-image-2023-07-31-at-112643-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>