<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f46ecca-5bdc-4258-94c5-268b5647f020" Alias="Whatsapp Image 2024 05 08 At 2.58.52 PM 2" Level="2">
  <Info>
    <Parent Key="d6088b0e-9ca7-4939-88ae-e07b0ed35c1b">Carousel images</Parent>
    <Path>/CarouselImages/WhatsappImage20240508At25852PM2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T00:01:09</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 2.58.52 PM 2" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ztweml42/whatsapp-image-2024-05-08-at-25852-pm-2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>