<?xml version="1.0" encoding="utf-8"?>
<Media Key="379f1328-0081-4295-968f-b2fda375108d" Alias="Whatsapp Image 2023 07 28 At 11.15.55 AM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230728At111555AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 28 At 11.15.55 AM" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fyjj4n2b/whatsapp-image-2023-07-28-at-111555-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>