<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d67ccbf-e4a7-4364-a4b6-8a7f46186c1a" Alias="Whatsapp Image 2023 07 31 At 11.33.13 PM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At113313PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.33.13 PM" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xhggoxnh/whatsapp-image-2023-07-31-at-113313-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>