<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5721900-5133-4257-8dc5-bdcd2be4179e" Alias="Whatsapp Image 2023 07 28 At 11.15.55 AM (1)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230728At111555AM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:31</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 28 At 11.15.55 AM (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aymhfzjt/whatsapp-image-2023-07-28-at-111555-am-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>