<?xml version="1.0" encoding="utf-8"?>
<Media Key="d73afb98-64f9-424c-80a4-a59fd89d1499" Alias="Whatsapp Image 2023 07 31 At 11.29.42 PM (1)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At112942PM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.29.42 PM (1)" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t13dvv5z/whatsapp-image-2023-07-31-at-112942-pm-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>