<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a2a1d97-cb51-409d-832f-ff973be03d4e" Alias="Whatsapp Image 2024 05 23 At 10.45.09 AM 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240523At104509AM3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:12:42</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 23 At 10.45.09 AM 3" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/seodu0sr/whatsapp-image-2024-05-23-at-104509-am-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>