<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a6a6566-66cb-4fbd-920c-a628809ec7d0" Alias="Whatsapp Image 2023 07 31 At 11.33.15 PM (1)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At113315PM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.33.15 PM (1)" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbshugwl/whatsapp-image-2023-07-31-at-113315-pm-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>