<?xml version="1.0" encoding="utf-8"?>
<Media Key="912d27e6-9a00-4f3b-beec-69ec5523090b" Alias="Whatsapp Image 2024 05 08 At 3.01.26 PM 3 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At30126PM31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:13:14</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.01.26 PM 3 (1)" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2atd1eia/whatsapp-image-2024-05-08-at-30126-pm-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>