<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdc56f5f-81a1-4f49-bbbd-1ac5f361d11a" Alias="Whatsapp Image 2024 05 23 At 10.45.09 AM (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240523At104509AM1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:13:09</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 23 At 10.45.09 AM (1)" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lfxnl5nb/whatsapp-image-2024-05-23-at-104509-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>