<?xml version="1.0" encoding="utf-8"?>
<Media Key="4700196f-848b-4bd8-97f7-518c3a4479cf" Alias="Whatsapp Image 2024 05 08 At 2.25.52 PM (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At22552PM2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:13:06</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 2.25.52 PM (2)" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nembar2l/whatsapp-image-2024-05-08-at-22552-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>