<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bc3a9a6-cf10-4774-9165-7269e931b2c6" Alias="Whatsapp Image 2024 05 23 At 10.45.09 AM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240523At104509AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T23:47:28</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 23 At 10.45.09 AM" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ucung0yq/whatsapp-image-2024-05-23-at-104509-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>