<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5bdfcdf-dd1f-4db0-bfb6-60d0c229bf85" Alias="Whatsapp Image 2023 07 31 At 11.33.16 PM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At113316PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:43</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.33.16 PM" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1h4l13i5/whatsapp-image-2023-07-31-at-113316-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>