<?xml version="1.0" encoding="utf-8"?>
<Media Key="64d2fcd7-8c7d-4f40-8d9f-b189e8a0de9c" Alias="Whatsapp Image 2024 05 08 At 2.25.52 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At22552PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T23:52:19</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 2.25.52 PM" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0h4nezd3/whatsapp-image-2024-05-08-at-22552-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>