<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb4033f4-0115-4d22-a1c8-e45644b0d125" Alias="Whatsapp Image 2023 03 18 At 10.40.11 AM (3) (1)" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230318At104011AM31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:24</CreateDate>
    <NodeName Default="Whatsapp Image 2023 03 18 At 10.40.11 AM (3) (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4izfbsyv/whatsapp-image-2023-03-18-at-104011-am-3-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>