<?xml version="1.0" encoding="utf-8"?>
<Media Key="72922dc4-768a-4c69-ac7a-36c53ec94d8d" Alias="Whatsapp Image 2024 05 23 At 10.45.09 AM 3" Level="2">
  <Info>
    <Parent Key="d6088b0e-9ca7-4939-88ae-e07b0ed35c1b">Carousel images</Parent>
    <Path>/CarouselImages/WhatsappImage20240523At104509AM3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T00:01:56</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 23 At 10.45.09 AM 3" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yiwje2uk/whatsapp-image-2024-05-23-at-104509-am-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>