<?xml version="1.0" encoding="utf-8"?>
<Media Key="aef6ca16-ed24-4bda-a767-0d6ffa00d5de" Alias="Whatsapp Image 2024 05 08 At 3.00.33 PM 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At30033PM3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:13:01</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.00.33 PM 3" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdfpnlre/whatsapp-image-2024-05-08-at-30033-pm-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>