<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e71ff2b-068c-470b-a8c3-a7a2cdb731a6" Alias="Whatsapp Image 2023 07 31 At 11.29.42 PM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230731At112942PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:32</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 31 At 11.29.42 PM" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fx5hcdum/whatsapp-image-2023-07-31-at-112942-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>