<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a7b2c63-28d2-4eda-a263-506c6ae648f1" Alias="Whatsapp Image 2024 05 08 At 3.01.26 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At30126PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-05T01:12:47</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.01.26 PM" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/muwhwgws/whatsapp-image-2024-05-08-at-30126-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>