<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b5d26f3-0b13-4b26-a662-e30e83415381" Alias="Whatsapp Image 2024 05 08 At 3.01.26 PM" Level="2">
  <Info>
    <Parent Key="d6088b0e-9ca7-4939-88ae-e07b0ed35c1b">Carousel images</Parent>
    <Path>/CarouselImages/WhatsappImage20240508At30126PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T00:01:30</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.01.26 PM" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4utf0kyt/whatsapp-image-2024-05-08-at-30126-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>