<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f954095-2206-4255-ab44-40427080c325" Alias="Whatsapp Image 2024 05 23 At 10.45.09 AM" Level="2">
  <Info>
    <Parent Key="6dab86c0-3b34-447f-92c7-5af47f2297fd">CapitalEmprendimiento</Parent>
    <Path>/CapitalEmprendimiento/WhatsappImage20240523At104509AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T20:26:41</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 23 At 10.45.09 AM" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/snajktyg/whatsapp-image-2024-05-23-at-104509-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>