<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0d82db8-b847-46ba-a650-d23d1c3b3d27" Alias="Whatsapp Image 2024 05 08 At 3.00.33 PM 3" Level="2">
  <Info>
    <Parent Key="d6088b0e-9ca7-4939-88ae-e07b0ed35c1b">Carousel images</Parent>
    <Path>/CarouselImages/WhatsappImage20240508At30033PM3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-30T00:00:37</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 3.00.33 PM 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xywnrich/whatsapp-image-2024-05-08-at-30033-pm-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>