<?xml version="1.0" encoding="utf-8"?>
<Media Key="999ab74a-959f-4a57-b43d-ed2d99c1a3b7" Alias="Whatsapp Image 2023 07 21 At 10.02.52 AM" Level="2">
  <Info>
    <Parent Key="403713e8-920d-440e-93a6-291a17a9c40b">Ences</Parent>
    <Path>/Ences/WhatsappImage20230721At100252AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-27T22:40:26</CreateDate>
    <NodeName Default="Whatsapp Image 2023 07 21 At 10.02.52 AM" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/js1jvgm5/whatsapp-image-2023-07-21-at-100252-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>