<?xml version="1.0" encoding="utf-8"?>
<Media Key="29bc5a15-d1d6-4624-b084-9ffc6ecf7e93" Alias="Whatsapp Image 2024 05 08 At 2.58.52 PM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20240508At25852PM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-29T23:41:26</CreateDate>
    <NodeName Default="Whatsapp Image 2024 05 08 At 2.58.52 PM" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cnnlykow/whatsapp-image-2024-05-08-at-25852-pm.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>