@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.RichTextAndImageItems>

<head>
    <link href="~/Styles/textAndImage.css" rel="stylesheet">
</head>
<div class="card mb-3 bg-transparent">
    <div class="row g-0 m-5">
        <div class="col text-start">
            @if (!String.IsNullOrWhiteSpace(Model.RichTextAndImageTitle))
            {
                <h3 class="column-title">@Model.RichTextAndImageTitle</h3>
            }

            <div>
                <p class="card-text ">@Html.Raw(Model.RichTextAndImageItemText)</p>
            </div>
        </div>
        <div class="col-md-5 mt-2 px-4">
            <a href="@Model.RichTextAndImageItemUrl.Url">
                <img src="@Model.RichTextAndImageItemImage.Url()" class="img-fluid" alt="...">
            </a>
        </div>
    </div>
</div>