<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9055193-f5f4-4cc6-ae98-353a7c4969c4" Alias="a" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/a</Path>
    <Trashed Parent="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">true</Trashed>
    <ContentType>jobListingsPage</ContentType>
    <CreateDate>2024-09-11T19:23:35</CreateDate>
    <NodeName Default="a" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40eea9dd-0143-400f-816e-b534bc743a34">JobListingsPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4cb66f20311c45a0b8788f38991c7ce7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5b964be8-7e88-4369-86c1-db29c98150af",
      "udi": "umb://element/4cb66f20311c45a0b8788f38991c7ce7",
      "richTextAndImageTitle": "a",
      "richTextAndImageItemText": {
        "markup": "<p>a</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "richTextAndImageItemImage": [],
      "richTextAndImageItemUrl": null
    }
  ],
  "settingsData": []
}]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[]]></Value>
    </hideHeaderImages>
    <showChatBot>
      <Value><![CDATA[0]]></Value>
    </showChatBot>
    <topHeaderImage>
      <Value><![CDATA[]]></Value>
    </topHeaderImage>
  </Properties>
</Content>