<?xml version="1.0" encoding="utf-8"?>
<Content Key="6402b10b-b585-4a96-9d2f-9fb684965618" Alias="DDEyC" Level="2">
  <Info>
    <Parent Key="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">Home</Parent>
    <Path>/Home/DDEyC</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-08-15T12:36:55</CreateDate>
    <NodeName Default="DDEyC" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>