<?xml version="1.0" encoding="utf-8"?>
<Content Key="96b9cda8-ab2c-421f-9c47-988e1327198f" Alias="DefaultSurvey" Level="2">
  <Info>
    <Parent Key="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">Home</Parent>
    <Path>/Home/DefaultSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>surveyForm</ContentType>
    <CreateDate>2024-08-06T17:25:03</CreateDate>
    <NodeName Default="DefaultSurvey" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "markup": "<p>Queremos conocer tu experiencia en la plataforma, puedes apoyarnos en responder las siguientes preguntas:</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <displayTimer>
      <Value><![CDATA[5]]></Value>
    </displayTimer>
    <questions>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/47151f5adb734818b5274b6470957cd9"
      },
      {
        "contentUdi": "umb://element/08443cdaa11d4e1d89c794d8aec97aa0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d28894ab-8a42-4e57-b68b-388ca3d0ea5f",
      "udi": "umb://element/47151f5adb734818b5274b6470957cd9",
      "question": {
        "markup": "<p>¿Fue de utilidad para tu proyecto o negocio la información disponible en el portal?</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "answer": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2e1eb3a17bae4dd5ad2f0d19b93f5221",
              "settingsUdi": "umb://element/8a744cb76672468d9cbcbc500bf5b8d6"
            },
            {
              "contentUdi": "umb://element/642ffc19870944d2b1682042db5de625",
              "settingsUdi": "umb://element/d16a3e538dc4474cb2b0fbe0d4839eb8"
            },
            {
              "contentUdi": "umb://element/4ae24838a970497d8b4b63deef8de9a8",
              "settingsUdi": "umb://element/4d4e1ecd1fd043e79afb887021ed2669"
            },
            {
              "contentUdi": "umb://element/38b3ba2a92cf4e99b7a355adcba33457",
              "settingsUdi": "umb://element/bbf1e18869284ba6b75eba997c9b4255"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/2e1eb3a17bae4dd5ad2f0d19b93f5221",
            "richText": {
              "markup": "<p>Sí! fue de gran utilidad</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/642ffc19870944d2b1682042db5de625",
            "richText": {
              "markup": "<p>Fue de utilidad</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/4ae24838a970497d8b4b63deef8de9a8",
            "richText": {
              "markup": "<p>Irrelevante</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/38b3ba2a92cf4e99b7a355adcba33457",
            "richText": {
              "markup": "<p>No es lo que esperaba</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/8a744cb76672468d9cbcbc500bf5b8d6",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/d16a3e538dc4474cb2b0fbe0d4839eb8",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/4d4e1ecd1fd043e79afb887021ed2669",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/bbf1e18869284ba6b75eba997c9b4255",
            "hide": "0"
          }
        ]
      }
    },
    {
      "contentTypeKey": "d28894ab-8a42-4e57-b68b-388ca3d0ea5f",
      "udi": "umb://element/08443cdaa11d4e1d89c794d8aec97aa0",
      "question": {
        "markup": "<p>¿Qué tan satisfecho estás con el portal digital IDEA Chihuahua en general?</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "answer": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/43238f07b5484d9b90f62580d1d45a67",
              "settingsUdi": "umb://element/360b1a97b7654a43a4f0707d738764f5"
            },
            {
              "contentUdi": "umb://element/943109f8b7884cba90cdb0505c0aad90",
              "settingsUdi": "umb://element/c85091b5b02b407d8128f94fcb0039b1"
            },
            {
              "contentUdi": "umb://element/3a86d1b0ae27453c8dec2a12f8d94425",
              "settingsUdi": "umb://element/eed51d3c5ddb44ba86675736a8aa80bb"
            },
            {
              "contentUdi": "umb://element/7dd715ce05324e0da3e86242bfd5fee9",
              "settingsUdi": "umb://element/02a87d410d2941e5902cb17fbd612d05"
            },
            {
              "contentUdi": "umb://element/2d58f4121a5c4857b7d09fa427419234",
              "settingsUdi": "umb://element/23ae5f369a0d48329ba73750aaec2551"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/43238f07b5484d9b90f62580d1d45a67",
            "richText": {
              "markup": "<p>Muy satisfecho</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/943109f8b7884cba90cdb0505c0aad90",
            "richText": {
              "markup": "<p>Satisfecho</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/3a86d1b0ae27453c8dec2a12f8d94425",
            "richText": {
              "markup": "<p>Neutral</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/7dd715ce05324e0da3e86242bfd5fee9",
            "richText": {
              "markup": "<p>Insatisfecho</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/2d58f4121a5c4857b7d09fa427419234",
            "richText": {
              "markup": "<p>Muy insatisfecho</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/360b1a97b7654a43a4f0707d738764f5",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/c85091b5b02b407d8128f94fcb0039b1",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/eed51d3c5ddb44ba86675736a8aa80bb",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/02a87d410d2941e5902cb17fbd612d05",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/23ae5f369a0d48329ba73750aaec2551",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </questions>
    <questionTitle>
      <Value><![CDATA[{
  "markup": "<p>Encuesta del Sitio</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </questionTitle>
  </Properties>
</Content>