<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2525fd2-13da-4171-813e-8c5015f34302" Alias="DefaultFooter" Level="2">
  <Info>
    <Parent Key="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">Home</Parent>
    <Path>/Home/DefaultFooter</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2024-05-27T23:33:20</CreateDate>
    <NodeName Default="DefaultFooter" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f966e94c024499bae25ba97eb4607e1"
      },
      {
        "contentUdi": "umb://element/08d44357d78c42f09d6b947d5935f9ce"
      },
      {
        "contentUdi": "umb://element/a73380598dda419d9befb3d6dd52a7a1"
      },
      {
        "contentUdi": "umb://element/638d0680e5b3432e9ad73b29f6d023fa"
      },
      {
        "contentUdi": "umb://element/daf668fd800d48b989d704ee066ba265"
      },
      {
        "contentUdi": "umb://element/3728db99bc05464194c2315d80a0ae0e"
      },
      {
        "contentUdi": "umb://element/10fa20347cac4be9aded000fc04997cc"
      },
      {
        "contentUdi": "umb://element/4f6d10fefa2f4511afea0130d1df60c1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/8f966e94c024499bae25ba97eb4607e1",
      "footerItemText1": {
        "markup": "<p><strong>DDEyC Gobierno Municipal</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>C. Escorza 2307, Col. Obrera, CP. 31000 Chihuahua, Chih.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "e1bd2f03-bcfe-4556-81e4-d06f91bc0623",
          "mediaKey": "4681993f-ca97-4f49-9384-b4fac9e1980f"
        }
      ],
      "footerItemURL": [
        {
          "name": "Ubicación en google maps",
          "url": "https://maps.app.goo.gl/UfMtZWTMAFgbW8577"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/08d44357d78c42f09d6b947d5935f9ce",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">SARE</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>Av. Independencia, Zona Centro, 31000 Chihuahua, Chih.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "15dfb49a-a419-4737-8731-00dcdecc5169",
          "mediaKey": "53129527-e7dd-4c7f-b4ef-708b4975dc4c"
        }
      ],
      "footerItemURL": [
        {
          "name": "Ubicación en google maps",
          "url": "https://maps.app.goo.gl/KedC159gkSECGtLA7"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/a73380598dda419d9befb3d6dd52a7a1",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">MIFAM Punta Oriente</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>Ubicado en las instalaciones del CEDEFAM</p>\n<p>Punta Oriente<br><br></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "4fdbd4bc-5f42-4ff9-9e69-ce7cd31f5fd4",
          "mediaKey": "1386ec5b-8aa3-4e6d-aaea-e0421c2f01f8"
        }
      ],
      "footerItemURL": [
        {
          "name": "https://maps.app.goo.gl/S7mSFZieApPBzCa39",
          "url": "https://maps.app.goo.gl/S7mSFZieApPBzCa39"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/638d0680e5b3432e9ad73b29f6d023fa",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">MIFAM Porvenir</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>Mina Dolores &amp; Mina Los Reyes, Porvenir,</p>\n<p>Rio Sacramento Nte, 31137 Chihuahua, Chih.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "63c8d5e7-c3bb-4e97-b1b5-544e6cce22eb",
          "mediaKey": "536db656-c04a-48a6-9812-2f8b06ef372b"
        }
      ],
      "footerItemURL": [
        {
          "name": "Ubicación en google maps",
          "url": "https://maps.app.goo.gl/rjF6N4vLUsgfnCH68"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/daf668fd800d48b989d704ee066ba265",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">MIFAM Riberas del Sacramento</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>C. Río Amur esquina con Río Paraná</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "68c00ef0-1539-4bfe-a09a-9e5edf66577f",
          "mediaKey": "780e36f4-fd2a-460b-af86-21afc35d8f0b"
        }
      ],
      "footerItemURL": [
        {
          "name": "https://maps.app.goo.gl/8Uod8icoySx5bTK37",
          "url": "https://maps.app.goo.gl/8Uod8icoySx5bTK37"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/3728db99bc05464194c2315d80a0ae0e",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">MIFAM Dale</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>C. Trigésimo Sexta 3402, Dale,</p>\n<p>RUTA SUR II, 31050 Chihuahua, Chih.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "8d9ccbd7-b8e9-4a7d-8031-7638bc3fc0ab",
          "mediaKey": "1e705523-8bf3-41ff-a8fa-d1bd4f7639a8"
        }
      ],
      "footerItemURL": [
        {
          "name": "https://maps.app.goo.gl/wskoizwouDLctKho9",
          "url": "https://maps.app.goo.gl/wskoizwouDLctKho9"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/10fa20347cac4be9aded000fc04997cc",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">MIFAM Unidad Vallarta</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>31120, Manuel González Cossío 7300, Nacional, Chihuahua, Chih.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "b3c76814-e9db-4e3d-91c4-133f4b198e25",
          "mediaKey": "3876ca2c-3c27-4ea0-9774-e33cd17f08c7"
        }
      ],
      "footerItemURL": [
        {
          "name": "https://maps.app.goo.gl/Dm1oW4CHmYLJ74im7",
          "url": "https://maps.app.goo.gl/Dm1oW4CHmYLJ74im7"
        }
      ]
    },
    {
      "contentTypeKey": "3a1b66ea-f588-4621-8fe1-47403306617e",
      "udi": "umb://element/4f6d10fefa2f4511afea0130d1df60c1",
      "footerItemText1": {
        "markup": "<p><strong data-stringify-type=\"bold\">MIFAM Valle Dorado</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemText2": {
        "markup": "<p>C. Dinosaurio esquina con Allosaurio Col. Valle Dorado</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "footerItemImage": [
        {
          "key": "6483b465-3bc6-47dc-951d-9ad5dfc2d432",
          "mediaKey": "a422107c-7f5a-4054-8e58-555dac88483e"
        }
      ],
      "footerItemURL": [
        {
          "name": "Ubicación en google maps",
          "url": "https://maps.app.goo.gl/shWi3rBgbqcoNu3Y6"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </footerItems>
    <footerSocialMediaItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/49386b92737540e1aaf6d75fb28d748b"
      },
      {
        "contentUdi": "umb://element/2e81186ce1bd4e4d86f4d591bd44400e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9b304fde-5bef-461b-8c5c-4ac31273e273",
      "udi": "umb://element/49386b92737540e1aaf6d75fb28d748b",
      "socialMediaItemLabel": "Desarrollo Económico y Competitividad",
      "socialMediaItemUrl": [
        {
          "name": "FB DDEC.CUU",
          "url": "http://www.facebook.com/DDEC.CUU"
        }
      ]
    },
    {
      "contentTypeKey": "9b304fde-5bef-461b-8c5c-4ac31273e273",
      "udi": "umb://element/2e81186ce1bd4e4d86f4d591bd44400e",
      "socialMediaItemLabel": "Instagram ENCES",
      "socialMediaItemUrl": [
        {
          "name": "Instagram ENCES",
          "url": "http://www.instagram.com/encescuu/"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </footerSocialMediaItems>
    <footerTitle>
      <Value><![CDATA[]]></Value>
    </footerTitle>
  </Properties>
</Content>