<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b385386-98c5-4b75-a7d2-1bc9168bb66d" Alias="DefaultHeader" Level="2">
  <Info>
    <Parent Key="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">Home</Parent>
    <Path>/Home/DefaultHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2024-04-18T15:43:44</CreateDate>
    <NodeName Default="DefaultHeader" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[
  {
    "key": "b30d7ffe-90b2-44c5-b1a1-078fb198b955",
    "mediaKey": "31210c93-dc4f-4822-9485-30c86de92b40"
  }
]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[
  {
    "key": "e84f0632-56e0-413a-aaa6-d73270617807",
    "mediaKey": "34de6392-6ff9-49b7-aae5-720f24f425dc"
  }
]]]></Value>
    </bottomHeaderImage2>
    <headerImageUrl1>
      <Value><![CDATA[[
  {
    "name": "test micrositios",
    "udi": "umb://document/39e70b2083db4ea9869abd16baa6888a"
  }
]]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[
  {
    "key": "5f9a974b-dc57-4c6b-8086-9faa7fd13d36",
    "mediaKey": "d2e73e1e-dbd8-43ad-b381-68dbd2c3b3cf"
  }
]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>