<?xml version="1.0" encoding="utf-8"?>
<Content Key="96b9cda8-ab2c-421f-9c47-988e1327198f" Alias="DefaultSurvey" Level="2">
  <Info>
    <Parent Key="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">Home</Parent>
    <Path>/Home/DefaultSurvey</Path>
    <Trashed>false</Trashed>
    <ContentType>surveyForm</ContentType>
    <CreateDate>2024-08-06T17:25:03</CreateDate>
    <NodeName Default="DefaultSurvey" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "markup": "<p>text</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <questions>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cf6c5f81a05b4d59ba3f99ecb5ff4aa9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d28894ab-8a42-4e57-b68b-388ca3d0ea5f",
      "udi": "umb://element/cf6c5f81a05b4d59ba3f99ecb5ff4aa9",
      "question": {
        "markup": "<p>¿Are you gae?</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "answer": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/27fcbfc792fb44a3ae738f73a5e35875",
              "settingsUdi": "umb://element/f5236036cf9b463e80fc1d5664e33308"
            },
            {
              "contentUdi": "umb://element/523080e2230548b5bd44776a82510c42",
              "settingsUdi": "umb://element/5a291991663944779e34bde905617355"
            },
            {
              "contentUdi": "umb://element/7ab3b3578ca845b8ab6e9690aa6cfc09",
              "settingsUdi": "umb://element/f22ae50a7e1c47bab22e70a715fd6306"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/27fcbfc792fb44a3ae738f73a5e35875",
            "richText": {
              "markup": "<p>Yes</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/523080e2230548b5bd44776a82510c42",
            "richText": {
              "markup": "<p>No</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
            "udi": "umb://element/7ab3b3578ca845b8ab6e9690aa6cfc09",
            "richText": {
              "markup": "<p>Maybe</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/f5236036cf9b463e80fc1d5664e33308",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/5a291991663944779e34bde905617355",
            "hide": "0"
          },
          {
            "contentTypeKey": "62f6cd48-d78b-4fcd-9210-0f4e41bba204",
            "udi": "umb://element/f22ae50a7e1c47bab22e70a715fd6306",
            "hide": "0"
          }
        ]
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </questions>
    <questionTitle>
      <Value><![CDATA[{
  "markup": "<p>text</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </questionTitle>
  </Properties>
</Content>