<?xml version="1.0" encoding="utf-8"?>
<Content Key="62166bf3-88cf-47a4-b28c-c8d179ac9e65" Alias="EJEMPLO" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EJEMPLO</Path>
    <Trashed Parent="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c">true</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-08-29T15:31:49</CreateDate>
    <NodeName Default="EJEMPLO" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>