<?xml version="1.0" encoding="utf-8"?>
<Content Key="3db0cc4a-fd4e-4ec5-9298-405454739be7" Alias="FIDEAPECH" Level="5">
  <Info>
    <Parent Key="553fdd5f-b480-43d2-ae2b-ac44aacb400f">Otros programas de la red</Parent>
    <Path>/Home/DDEyC/ApoyosYFinanciamientos/OtrosProgramasDeLaRed/FIDEAPECH</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-05-27T17:45:17</CreateDate>
    <NodeName Default="FIDEAPECH" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/512e46a01184425f9fa2fe114e3d16e6"
      },
      {
        "contentUdi": "umb://element/3fd2b3d23ae24c2ba20f905d1884769e"
      },
      {
        "contentUdi": "umb://element/c8215a6dcaa24e8c895cd7d1e6ea523d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
      "udi": "umb://element/3fd2b3d23ae24c2ba20f905d1884769e",
      "richText": {
        "markup": "<p style=\"text-align: center;\" dir=\"ltr\"><strong><em>FIDEAPECH</em></strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "fontSize": "38"
    },
    {
      "contentTypeKey": "cb99c4be-8f53-4319-a126-113e779ec788",
      "udi": "umb://element/512e46a01184425f9fa2fe114e3d16e6",
      "logoItemBorderRadiusTopLeft": "0",
      "logoItemBorderRadiusTopRight": "0",
      "logoItemBorderRadiusBottomLeft": "0",
      "logoItemBorderRadiusBottomRight": "0",
      "logoItemImage": [
        {
          "key": "9ae4a441-6601-43ed-898d-ac4738e4d24b",
          "mediaKey": "2ab9f9be-d720-42b6-b168-b89726777306"
        }
      ],
      "logoItemAlignment": [
        "Center"
      ],
      "logoItemBackgroundColor": "rgba(255, 255, 255, 0)"
    },
    {
      "contentTypeKey": "5b964be8-7e88-4369-86c1-db29c98150af",
      "udi": "umb://element/c8215a6dcaa24e8c895cd7d1e6ea523d",
      "richTextAndImageItemText": {
        "markup": "<p style=\"padding-left: 40px;\">El Fideicomiso Estatal para el Fomento de las Actividades Productivas en el Estado de Chihuahua (FIDEAPECH) es parte de la Secretaría de Innovación y Desarrollo Económico del Estado de Chihuahua. Su principal objetivo es otorgar financiamiento en condiciones preferenciales a emprendedores y empresarios del estado, contribuyendo así al crecimiento y desarrollo económico de la región.</p>\n<p style=\"padding-left: 40px;\" dir=\"ltr\">&nbsp;</p>\n<p style=\"padding-left: 40px;\" dir=\"ltr\">Dirección: Paseos Vista del Sol 6601-Local 6 Colonia Vista del Sol C.P. 31215</p>\n<p style=\"padding-left: 40px;\" dir=\"ltr\">&nbsp;</p>\n<p style=\"padding-left: 40px;\" dir=\"ltr\">Teléfono: (614)-443-10-76</p>\n<p style=\"padding-left: 40px;\" dir=\"ltr\">&nbsp;</p>\n<p style=\"padding-left: 40px;\"><strong><a href=\"https://www.fideapech.com/\">https://www.fideapech.com/</a></strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "richTextAndImageItemImage": [
        {
          "key": "03a50fa1-f094-457b-a8dc-3fa4e0d616ef",
          "mediaKey": "e5721900-5133-4257-8dc5-bdcd2be4179e"
        }
      ],
      "richTextAndImageItemUrl": null,
      "richTextAndImageTextSize": "18"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>