<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbf98ca2-07f7-4658-990c-098fc4ba0270" Alias="FIPES" Level="5">
  <Info>
    <Parent Key="553fdd5f-b480-43d2-ae2b-ac44aacb400f">Otros programas de la red</Parent>
    <Path>/Home/DDEyC/ApoyosYFinanciamientos/OtrosProgramasDeLaRed/FIPES</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-05-27T17:45:25</CreateDate>
    <NodeName Default="FIPES" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1cfc159529104ff586c744de2dd45655"
      },
      {
        "contentUdi": "umb://element/d6cbe1ad29f042d5900da03f61e5bdcc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
      "udi": "umb://element/1cfc159529104ff586c744de2dd45655",
      "richText": {
        "markup": "<p style=\"text-align: center;\"><em><strong>FIPES</strong></em></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "fontSize": "38"
    },
    {
      "contentTypeKey": "5b964be8-7e88-4369-86c1-db29c98150af",
      "udi": "umb://element/d6cbe1ad29f042d5900da03f61e5bdcc",
      "richTextAndImageItemText": {
        "markup": "<p>El Fondo de Inclusión Productiva y Economía Solidaria (FIPES), bajo la Secretaría de Desarrollo Humano y Bien Común (SDHyBC) del Gobierno del Estado, ofrece créditos muy blandos con el objetivo de fomentar la inclusión en la actividad económica y productiva de los sectores sociales.</p>\n<p>&nbsp;</p>\n<p dir=\"ltr\">Departamento de Inclusión Productiva e Inclusión Social</p>\n<p dir=\"ltr\">Teléfono: (614)4293300 Ext. 12658</p>\n<p dir=\"ltr\">Ubicación: Ave. Venustiano Carranza 601 Col. Obrera Edif. Héroes de la Revolución 6o. Piso</p>\n<p><strong>&nbsp;</strong></p>\n<p dir=\"ltr\">¡Aprovecha Estas Oportunidades de Financiamiento!</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "richTextAndImageItemImage": [
        {
          "key": "bd58a263-2910-423f-b2ed-6211685a2328",
          "mediaKey": "f12289b6-fb9c-4999-b9b5-77e9ee59a12a"
        }
      ],
      "richTextAndImageItemUrl": null,
      "richTextAndImageTextSize": "18"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>