<?xml version="1.0" encoding="utf-8"?>
<Content Key="06b386fc-4961-4ee4-9f01-bcdbdb53ca5c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2024-04-18T13:12:52</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a1534049-127c-4287-acfb-2c7b0b9677bd">LandingPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <comboBox1Title>
      <Value><![CDATA[Quién eres?]]></Value>
    </comboBox1Title>
    <comboBox2Title>
      <Value><![CDATA[Qué buscas?]]></Value>
    </comboBox2Title>
    <defaultSearchComboText>
      <Value><![CDATA[Seleccione una opción]]></Value>
    </defaultSearchComboText>
    <editText>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: left;\"><strong>NOTICIAS</strong></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </editText>
    <embededVideo>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6f96a87f1c914612a9090cb819a8bd02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0021ecff-cc95-4cbc-b053-4435944b0083",
      "udi": "umb://element/6f96a87f1c914612a9090cb819a8bd02",
      "videoEmbedURL": [
        {
          "name": "Example",
          "url": "https://www.youtube.com/embed/qjzoK02Luvw"
        }
      ],
      "hideVideoEmbed": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </embededVideo>
    <fontSizeEditor>
      <Value><![CDATA[2]]></Value>
    </fontSizeEditor>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[[
  {
    "name": "#",
    "url": "#"
  }
]]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[[
  {
    "name": "#",
    "url": "#"
  }
]]]></Value>
    </headerImageUrl3>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <hideHomeRedirectButton>
      <Value><![CDATA[0]]></Value>
    </hideHomeRedirectButton>
    <hideSearchComboContents>
      <Value><![CDATA[0]]></Value>
    </hideSearchComboContents>
    <homeRedirectButtonColor>
      <Value><![CDATA[]]></Value>
    </homeRedirectButtonColor>
    <homeRedirectButtonText>
      <Value><![CDATA[Bolsa de trabajo]]></Value>
    </homeRedirectButtonText>
    <homeRedirectButtonTextColor>
      <Value><![CDATA[]]></Value>
    </homeRedirectButtonTextColor>
    <homeRedirectButtonURL>
      <Value><![CDATA[[
  {
    "name": "Bolsa de trabajo",
    "udi": "umb://document/931e34810525467eb5e05e8624b71982"
  }
]]]></Value>
    </homeRedirectButtonURL>
    <imageCarousel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8e525e804e9e4c388877cbd1ff944c78"
      },
      {
        "contentUdi": "umb://element/a96a2ed2e12a48acbbc85e5f54cf090a"
      },
      {
        "contentUdi": "umb://element/546b93693772442da5225fcd24863ea2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
      "udi": "umb://element/8e525e804e9e4c388877cbd1ff944c78",
      "imageCarouselItem": [
        {
          "key": "6840931b-a4ac-4260-9850-cac1ead85377",
          "mediaKey": "ee557971-b5ab-4620-9cb9-173e4e3b4773"
        }
      ],
      "imageCarouselItemURL": [
        {
          "name": "Home",
          "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
        }
      ]
    },
    {
      "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
      "udi": "umb://element/a96a2ed2e12a48acbbc85e5f54cf090a",
      "imageCarouselItem": [
        {
          "key": "307e9761-42e2-4fc3-9259-16f8e14ab2ea",
          "mediaKey": "a2de4bff-2237-4d99-93e4-bc10103661a6"
        }
      ],
      "imageCarouselItemURL": null
    },
    {
      "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
      "udi": "umb://element/546b93693772442da5225fcd24863ea2",
      "imageCarouselItem": [
        {
          "key": "0f2cb49a-ca03-4a7a-a274-7c739eff98da",
          "mediaKey": "06569b54-4b60-4ab3-af50-a24c2063236a"
        }
      ],
      "imageCarouselItemURL": null
    }
  ],
  "settingsData": []
}]]></Value>
    </imageCarousel>
    <newsCarousel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0e1fd5f922d845769ca33bc96fb43aaa"
      },
      {
        "contentUdi": "umb://element/17aed81e0aa9489da666375410d46555"
      },
      {
        "contentUdi": "umb://element/40c404b0e2384304839643c66b7d7bab"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/0e1fd5f922d845769ca33bc96fb43aaa",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>CLUB DE NETWORKING: MUJERES ENCONEXIÓN CHIHUAHUA</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<p style=\"text-align: left;\" dir=\"ltr\">El Gobierno Municipal, a través de la Dirección de Desarrollo Económico y Competitividad, llevó a cabo el evento, dónde 60 mujeres empresarias se capacitaron en crecimiento profesional y empoderamiento en el ámbito empresarial.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "808542d2-3fa7-4f54-a677-1b309934a7f8",
          "mediaKey": "57dce4d7-8966-4921-b9cb-873cf167e601"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "Noticia - Mujeres en Conexion",
          "udi": "umb://document/c7157c6ed20240c7b20aed6d5790703b"
        }
      ],
      "newsCarouselTitle": {
        "markup": "<p><strong>NOTICIAS</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/17aed81e0aa9489da666375410d46555",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>INICIAN CAPACITACIONES PARA EMPRESARIOS LOCALES DE LA AGROINDUSTRIA</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<p style=\"text-align: left;\" dir=\"ltr\">El Gobierno Municipal de Chihuahua, a través de la Dirección de Desarrollo Económico y Competitividad, dio inicio a la capacitación \"Spring to Lunch\", que sirve para potenciar la innovación en empresas agroindustriales de alto valor.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "47f8c66f-9d7b-4479-a829-3dab748c9df1",
          "mediaKey": "29bc5a15-d1d6-4624-b084-9ffc6ecf7e93"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "Noticia - INICIAN CAPACITACIONES SPRING TO LUNCH",
          "udi": "umb://document/fd2680a905d74c52b41a6e96f3fada45"
        }
      ],
      "newsCarouselTitle": {
        "markup": "<p><strong>NOTICIAS</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/40c404b0e2384304839643c66b7d7bab",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>PARTICIPAN MÁS DE 40 PERSONAS EN CAPITAL DE EMPRENDIMIENTO</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<p dir=\"ltr\">Dicho evento, se lleva de forma mensual a los diferentes MIFAM de la ciudad, con el fin de impulsar el crecimiento individual y empresarial en las comunidades, por lo cual se realiza en colaboración con la asociación civil Emprendamos.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "5df7c7e3-75d5-4a0c-aa46-8d55c7b176d4",
          "mediaKey": "6bc3a9a6-cf10-4774-9165-7269e931b2c6"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "Noticia - Participan Personas Capital Emprendimiento",
          "udi": "umb://document/8b91825c1b0743f2b56fbade511d9e10"
        }
      ],
      "newsCarouselTitle": {
        "markup": "<p><strong>NOTICIAS</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </newsCarousel>
    <richTextAndImages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/efa71da899a54aa7a07f3a7dce9a466a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5b964be8-7e88-4369-86c1-db29c98150af",
      "udi": "umb://element/efa71da899a54aa7a07f3a7dce9a466a",
      "richTextAndImageTitle": "INFORMACIÓN ESTADÍSTICA",
      "richTextAndImageItemText": {
        "markup": "<p>Chihuahua ha mostrado un crecimiento constante en turismo y beneficios económicos durante Semana Santa desde 2022, con un aumento en la derrama económica de 187.35 millones de pesos a una proyección de 237.88 millones para 2024.</p>\n<p>El número de visitantes también ha crecido, alcanzando una previsión de 105,728 para 2024.</p>\n<p> </p>\n<p>A pesar de una disminución en la ocupación hotelera en 2023,se espera un repunte para el próximo año, destacando el éxito de lasestrategias de promoción turística de la ciudad.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "richTextAndImageItemImage": [
        {
          "key": "e11da72a-1c18-429e-b1c0-abaf56040230",
          "mediaKey": "64d2fcd7-8c7d-4f40-8d9f-b189e8a0de9c"
        }
      ],
      "richTextAndImageItemUrl": null,
      "richTextAndImageTitleSize": "21",
      "richTextAndImageTextSize": "18"
    }
  ],
  "settingsData": []
}]]></Value>
    </richTextAndImages>
    <searchComboContents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/998c86c324c541f894a018bdc93c122a"
      },
      {
        "contentUdi": "umb://element/0b891c432c6f41e09817494aff419375"
      },
      {
        "contentUdi": "umb://element/f411d75bc5c8439a8179ac6f9ab6203c"
      },
      {
        "contentUdi": "umb://element/7e705955fac246189f08a347b8dc0ade"
      },
      {
        "contentUdi": "umb://element/0c600c8324b6484ea0c713d1b8a73644"
      },
      {
        "contentUdi": "umb://element/b50d0be622124f50bade58117500eb0c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/998c86c324c541f894a018bdc93c122a",
      "comboBoxUserName": "Estudiante",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2c388c03900f4d3c9f4964826cef6259"
            },
            {
              "contentUdi": "umb://element/7006a17eac114b4286cc3a8fe275a26a"
            },
            {
              "contentUdi": "umb://element/a21a4f35f07b45719bf3277041e6c612"
            },
            {
              "contentUdi": "umb://element/a8753bf79317483a9264e93a67cda8ed"
            },
            {
              "contentUdi": "umb://element/4b35e3bbecec454e8174aefcaf85cbd3"
            },
            {
              "contentUdi": "umb://element/5ba00b7389c04de5920f950edd2f68fc"
            },
            {
              "contentUdi": "umb://element/7a9183056f4842ef890860eea6749502"
            },
            {
              "contentUdi": "umb://element/7e8fc49663e5428b96452e4ebe52a345"
            },
            {
              "contentUdi": "umb://element/9fd0b25daf64454faef963e76e8caa23"
            },
            {
              "contentUdi": "umb://element/ac198f51879a4e3cadecad2b253da274"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/2c388c03900f4d3c9f4964826cef6259",
            "comboBoxMatchElementText": "Emprender",
            "comboBoxMatchElementURL": [
              {
                "name": "Incubadoras",
                "udi": "umb://document/47fff3cd670944a9b8f8c5056b634325"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/7006a17eac114b4286cc3a8fe275a26a",
            "comboBoxMatchElementText": "Dar a conocer mis productos",
            "comboBoxMatchElementURL": [
              {
                "name": "Tianguis de productores",
                "udi": "umb://document/f6b88b09589d407d99c75aa7d17b9571"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a21a4f35f07b45719bf3277041e6c612",
            "comboBoxMatchElementText": "Aumentar mis ventas",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a8753bf79317483a9264e93a67cda8ed",
            "comboBoxMatchElementText": "Capacitación",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/4b35e3bbecec454e8174aefcaf85cbd3",
            "comboBoxMatchElementText": "Conocer mas sobre permisos y licencias",
            "comboBoxMatchElementURL": [
              {
                "name": "Permisos y licencias",
                "udi": "umb://document/c84a60a16ab449e38a716a5bb08162bc"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/5ba00b7389c04de5920f950edd2f68fc",
            "comboBoxMatchElementText": "Fortalecer mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/7a9183056f4842ef890860eea6749502",
            "comboBoxMatchElementText": "Apoyo economico",
            "comboBoxMatchElementURL": [
              {
                "name": "FOMECH",
                "udi": "umb://document/0b50d0d3d46a47c5a549a471faaeaa2d"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/7e8fc49663e5428b96452e4ebe52a345",
            "comboBoxMatchElementText": "Asesoria personalizada",
            "comboBoxMatchElementURL": [
              {
                "name": "MIFAM",
                "udi": "umb://document/6bf0b06834a842e18247a92dda589344"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/9fd0b25daf64454faef963e76e8caa23",
            "comboBoxMatchElementText": "Conseguir empleo",
            "comboBoxMatchElementURL": [
              {
                "name": "Bolsa de trabajo",
                "udi": "umb://document/931e34810525467eb5e05e8624b71982"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/ac198f51879a4e3cadecad2b253da274",
            "comboBoxMatchElementText": "Mejorar mis oportunidades laborales",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/0b891c432c6f41e09817494aff419375",
      "comboBoxUserName": "Empleado",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f82bb65833004605b48bc9eeb73f839b"
            },
            {
              "contentUdi": "umb://element/45a66516b8564d6bb6dc1304ef7c0057"
            },
            {
              "contentUdi": "umb://element/4cd6ffd04fc54f37b9d6d12e66ce5932"
            },
            {
              "contentUdi": "umb://element/018a6f8444e348138ed6bed7642fb49e"
            },
            {
              "contentUdi": "umb://element/3df7cd28240c4b9b90ea1da017920b32"
            },
            {
              "contentUdi": "umb://element/93f212e1264649f1ad0901ead0c169f1"
            },
            {
              "contentUdi": "umb://element/388adfcc5a664c99a9753ad120b778b0"
            },
            {
              "contentUdi": "umb://element/0664c6e72ae04b4499f981dd6a2059bf"
            },
            {
              "contentUdi": "umb://element/fb4479ee5def4698814d8aa2958e5ff7"
            },
            {
              "contentUdi": "umb://element/c2c314432d784c60bd76c0c81ec4257e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/f82bb65833004605b48bc9eeb73f839b",
            "comboBoxMatchElementText": "Emprender",
            "comboBoxMatchElementURL": [
              {
                "name": "INCUBECH",
                "udi": "umb://document/7fc320d17fb34d6ba6ad80163c9dbe0c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/45a66516b8564d6bb6dc1304ef7c0057",
            "comboBoxMatchElementText": "Dar a conocer mis productos",
            "comboBoxMatchElementURL": [
              {
                "name": "Tianguis de productores",
                "udi": "umb://document/f6b88b09589d407d99c75aa7d17b9571"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/4cd6ffd04fc54f37b9d6d12e66ce5932",
            "comboBoxMatchElementText": "Aumentar mis ventas",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/018a6f8444e348138ed6bed7642fb49e",
            "comboBoxMatchElementText": "Capacitación",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/3df7cd28240c4b9b90ea1da017920b32",
            "comboBoxMatchElementText": "Conocer mas sobre permisos y licencias",
            "comboBoxMatchElementURL": [
              {
                "name": "Permisos y licencias",
                "udi": "umb://document/c84a60a16ab449e38a716a5bb08162bc"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/93f212e1264649f1ad0901ead0c169f1",
            "comboBoxMatchElementText": "Fortalecer mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/388adfcc5a664c99a9753ad120b778b0",
            "comboBoxMatchElementText": "Apoyo económico",
            "comboBoxMatchElementURL": [
              {
                "name": "FOMECH",
                "udi": "umb://document/0b50d0d3d46a47c5a549a471faaeaa2d"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/0664c6e72ae04b4499f981dd6a2059bf",
            "comboBoxMatchElementText": "Asesoria personalizada",
            "comboBoxMatchElementURL": [
              {
                "name": "MIFAM",
                "udi": "umb://document/6bf0b06834a842e18247a92dda589344"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/fb4479ee5def4698814d8aa2958e5ff7",
            "comboBoxMatchElementText": "Conseguir empleo",
            "comboBoxMatchElementURL": [
              {
                "name": "Bolsa de trabajo",
                "udi": "umb://document/931e34810525467eb5e05e8624b71982"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/c2c314432d784c60bd76c0c81ec4257e",
            "comboBoxMatchElementText": "Mejorar mis oportunidades laborales",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/f411d75bc5c8439a8179ac6f9ab6203c",
      "comboBoxUserName": "Emprendedor",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a797070bd6a94d43a6b5118038fea625"
            },
            {
              "contentUdi": "umb://element/0b8e2ebf51c348de9b54286b4e9f7e6a"
            },
            {
              "contentUdi": "umb://element/a934ed3dfe864e668f69cd94aa279b03"
            },
            {
              "contentUdi": "umb://element/c3afbc5c1924441e90daedb50ef29361"
            },
            {
              "contentUdi": "umb://element/a0a18c7972d44976a31f9a9d07b63db8"
            },
            {
              "contentUdi": "umb://element/3a65b0e0e9a1486ea5bfbff92aef6576"
            },
            {
              "contentUdi": "umb://element/9feb4d10677844bc83d77d0111901c18"
            },
            {
              "contentUdi": "umb://element/e6ff04154c6745908ef561fb8fa498d6"
            },
            {
              "contentUdi": "umb://element/e83749a488aa4842a6ca2dbcf1c008c9"
            },
            {
              "contentUdi": "umb://element/99c911c2e24a4b37a985156c239c0016"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a797070bd6a94d43a6b5118038fea625",
            "comboBoxMatchElementText": "Emprender",
            "comboBoxMatchElementURL": [
              {
                "name": "INCUBECH",
                "udi": "umb://document/7fc320d17fb34d6ba6ad80163c9dbe0c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/0b8e2ebf51c348de9b54286b4e9f7e6a",
            "comboBoxMatchElementText": "Dar a conocer mis productos",
            "comboBoxMatchElementURL": [
              {
                "name": "Tianguis de productores",
                "udi": "umb://document/f6b88b09589d407d99c75aa7d17b9571"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a934ed3dfe864e668f69cd94aa279b03",
            "comboBoxMatchElementText": "Aumentar mis ventas",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/c3afbc5c1924441e90daedb50ef29361",
            "comboBoxMatchElementText": "Capacitación",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a0a18c7972d44976a31f9a9d07b63db8",
            "comboBoxMatchElementText": "Conocer mas sobre permisos y licencias",
            "comboBoxMatchElementURL": [
              {
                "name": "Permisos y licencias",
                "udi": "umb://document/c84a60a16ab449e38a716a5bb08162bc"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/3a65b0e0e9a1486ea5bfbff92aef6576",
            "comboBoxMatchElementText": "Fortalecer mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/9feb4d10677844bc83d77d0111901c18",
            "comboBoxMatchElementText": "Apoyo económico",
            "comboBoxMatchElementURL": [
              {
                "name": "FOMECH",
                "udi": "umb://document/0b50d0d3d46a47c5a549a471faaeaa2d"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/e6ff04154c6745908ef561fb8fa498d6",
            "comboBoxMatchElementText": "Asesoria personalizada",
            "comboBoxMatchElementURL": [
              {
                "name": "MIFAM",
                "udi": "umb://document/6bf0b06834a842e18247a92dda589344"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/e83749a488aa4842a6ca2dbcf1c008c9",
            "comboBoxMatchElementText": "Conseguir empleo",
            "comboBoxMatchElementURL": [
              {
                "name": "Bolsa de trabajo",
                "udi": "umb://document/931e34810525467eb5e05e8624b71982"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/99c911c2e24a4b37a985156c239c0016",
            "comboBoxMatchElementText": "Mejorar mis oportunidades laborales",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/7e705955fac246189f08a347b8dc0ade",
      "comboBoxUserName": "Micro o pequeño empresario",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d94432cfb62f4950bace58dd5bc03463"
            },
            {
              "contentUdi": "umb://element/05c36340e47a454a81438f218a383c07"
            },
            {
              "contentUdi": "umb://element/85a6e078351747e5a5dbebdbfef6014e"
            },
            {
              "contentUdi": "umb://element/7cb84a73081d4156a8febc670feb2c7c"
            },
            {
              "contentUdi": "umb://element/5f1bccf1de3d4a55a32a61360a16021c"
            },
            {
              "contentUdi": "umb://element/a05f60317e964f5b99d1dce4452da062"
            },
            {
              "contentUdi": "umb://element/2760ea183f2d4f21a407890360c8cc3d"
            },
            {
              "contentUdi": "umb://element/296ad57ebd9a42faa993fef9b07d8a6a"
            },
            {
              "contentUdi": "umb://element/a2e43d9e4ea24490b784bb02857f6232"
            },
            {
              "contentUdi": "umb://element/b4d257552300488aa61883533edfc3c9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/d94432cfb62f4950bace58dd5bc03463",
            "comboBoxMatchElementText": "Emprender",
            "comboBoxMatchElementURL": [
              {
                "name": "INCUBECH",
                "udi": "umb://document/7fc320d17fb34d6ba6ad80163c9dbe0c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/05c36340e47a454a81438f218a383c07",
            "comboBoxMatchElementText": "Dar a conocer mis productos",
            "comboBoxMatchElementURL": [
              {
                "name": "Tianguis de productores",
                "udi": "umb://document/f6b88b09589d407d99c75aa7d17b9571"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/85a6e078351747e5a5dbebdbfef6014e",
            "comboBoxMatchElementText": "Aumentar mis ventas",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/7cb84a73081d4156a8febc670feb2c7c",
            "comboBoxMatchElementText": "Capacitar a mi personal",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/5f1bccf1de3d4a55a32a61360a16021c",
            "comboBoxMatchElementText": "Conocer mas sobre permisos y licencias",
            "comboBoxMatchElementURL": [
              {
                "name": "Permisos y licencias",
                "udi": "umb://document/c84a60a16ab449e38a716a5bb08162bc"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a05f60317e964f5b99d1dce4452da062",
            "comboBoxMatchElementText": "Fortalecer mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/2760ea183f2d4f21a407890360c8cc3d",
            "comboBoxMatchElementText": "Apoyo económico",
            "comboBoxMatchElementURL": [
              {
                "name": "FOMECH",
                "udi": "umb://document/0b50d0d3d46a47c5a549a471faaeaa2d"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/296ad57ebd9a42faa993fef9b07d8a6a",
            "comboBoxMatchElementText": "Asesoria personalizada",
            "comboBoxMatchElementURL": [
              {
                "name": "MIFAM",
                "udi": "umb://document/6bf0b06834a842e18247a92dda589344"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a2e43d9e4ea24490b784bb02857f6232",
            "comboBoxMatchElementText": "Conseguir empleo",
            "comboBoxMatchElementURL": [
              {
                "name": "Bolsa de trabajo",
                "udi": "umb://document/931e34810525467eb5e05e8624b71982"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/b4d257552300488aa61883533edfc3c9",
            "comboBoxMatchElementText": "Mejorar mis oportunidades laborales",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/0c600c8324b6484ea0c713d1b8a73644",
      "comboBoxUserName": "Empresario",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/54bc0eed8b4c44faa573a724d08d0aee"
            },
            {
              "contentUdi": "umb://element/6deeb18bcf8244b19c7cd6e0799b4874"
            },
            {
              "contentUdi": "umb://element/0868dde16938479d93d652ebc56c73cb"
            },
            {
              "contentUdi": "umb://element/662fb800bc0548a5a7cb2c249416d023"
            },
            {
              "contentUdi": "umb://element/ef16c43224f34b51addb45c849cbd7f1"
            },
            {
              "contentUdi": "umb://element/e7bb5a360b514334a5734febaa132fef"
            },
            {
              "contentUdi": "umb://element/f4fb11c00dac4af7b51b66ddf525b068"
            },
            {
              "contentUdi": "umb://element/1c546eabc1ff4bf190094d583fed1f06"
            },
            {
              "contentUdi": "umb://element/b64b9f9d2307472b84a092063c17ff4d"
            },
            {
              "contentUdi": "umb://element/43264d01f50f43a5b9ed014fbab945ae"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/54bc0eed8b4c44faa573a724d08d0aee",
            "comboBoxMatchElementText": "Emprender",
            "comboBoxMatchElementURL": [
              {
                "name": "INCUBECH",
                "udi": "umb://document/7fc320d17fb34d6ba6ad80163c9dbe0c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/6deeb18bcf8244b19c7cd6e0799b4874",
            "comboBoxMatchElementText": "Dar a conocer mis productos  ",
            "comboBoxMatchElementURL": [
              {
                "name": "Impulso a eventos y festividades",
                "udi": "umb://document/a0e3b5fb9dfb409b8a692834449a047f"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/0868dde16938479d93d652ebc56c73cb",
            "comboBoxMatchElementText": "Aumentar mis ventas",
            "comboBoxMatchElementURL": [
              {
                "name": "Impulso a eventos y festividades",
                "udi": "umb://document/a0e3b5fb9dfb409b8a692834449a047f"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/662fb800bc0548a5a7cb2c249416d023",
            "comboBoxMatchElementText": "Capacitación",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/ef16c43224f34b51addb45c849cbd7f1",
            "comboBoxMatchElementText": "Conocer mas sobre permisos y licencias",
            "comboBoxMatchElementURL": [
              {
                "name": "Permisos y licencias",
                "udi": "umb://document/c84a60a16ab449e38a716a5bb08162bc"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/e7bb5a360b514334a5734febaa132fef",
            "comboBoxMatchElementText": "Fortalecer mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/f4fb11c00dac4af7b51b66ddf525b068",
            "comboBoxMatchElementText": "Apoyo económico",
            "comboBoxMatchElementURL": [
              {
                "name": "FOMECH",
                "udi": "umb://document/0b50d0d3d46a47c5a549a471faaeaa2d"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/1c546eabc1ff4bf190094d583fed1f06",
            "comboBoxMatchElementText": "Asesoria personalizada",
            "comboBoxMatchElementURL": [
              {
                "name": "INCUBECH",
                "udi": "umb://document/7fc320d17fb34d6ba6ad80163c9dbe0c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/b64b9f9d2307472b84a092063c17ff4d",
            "comboBoxMatchElementText": "Conseguir empleo",
            "comboBoxMatchElementURL": [
              {
                "name": "Bolsa de trabajo",
                "udi": "umb://document/931e34810525467eb5e05e8624b71982"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/43264d01f50f43a5b9ed014fbab945ae",
            "comboBoxMatchElementText": "Mejorar mis oportunidades laborales",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/b50d0be622124f50bade58117500eb0c",
      "comboBoxUserName": "Productor",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/75d18966215f44f3ab87df5204b78074"
            },
            {
              "contentUdi": "umb://element/940f0ac9fb684ff0af3519056c5bfef1"
            },
            {
              "contentUdi": "umb://element/680cf9e877d04e26b371a9f15fca9607"
            },
            {
              "contentUdi": "umb://element/1aa70b34468545b485a958335fb0b2ff"
            },
            {
              "contentUdi": "umb://element/1bcbe500287c4027a259ba22d5fa6ca8"
            },
            {
              "contentUdi": "umb://element/22b8236877fa42d9a87122428daac3c3"
            },
            {
              "contentUdi": "umb://element/b2869e3ce2ae4e37af392cc0aeba529e"
            },
            {
              "contentUdi": "umb://element/37d6d7ad29e6463b87640870d3119a07"
            },
            {
              "contentUdi": "umb://element/00669c1ce8c3438391b6fbb235423ef1"
            },
            {
              "contentUdi": "umb://element/a4239f6a7c404469bc971bade62e032a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/75d18966215f44f3ab87df5204b78074",
            "comboBoxMatchElementText": "Emprender",
            "comboBoxMatchElementURL": [
              {
                "name": "INCUBECH",
                "udi": "umb://document/7fc320d17fb34d6ba6ad80163c9dbe0c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/940f0ac9fb684ff0af3519056c5bfef1",
            "comboBoxMatchElementText": "Dar a conocer mis productos",
            "comboBoxMatchElementURL": [
              {
                "name": "Tianguis de productores",
                "udi": "umb://document/f6b88b09589d407d99c75aa7d17b9571"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/680cf9e877d04e26b371a9f15fca9607",
            "comboBoxMatchElementText": "Aumentar mis ventas",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/1aa70b34468545b485a958335fb0b2ff",
            "comboBoxMatchElementText": "Capacitar a mi personal",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/1bcbe500287c4027a259ba22d5fa6ca8",
            "comboBoxMatchElementText": "Conocer más sobre los permisos y licencias",
            "comboBoxMatchElementURL": [
              {
                "name": "Permisos y licencias",
                "udi": "umb://document/c84a60a16ab449e38a716a5bb08162bc"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/22b8236877fa42d9a87122428daac3c3",
            "comboBoxMatchElementText": "Fortalecer mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/b2869e3ce2ae4e37af392cc0aeba529e",
            "comboBoxMatchElementText": "Apoyo económico para mi negocio",
            "comboBoxMatchElementURL": [
              {
                "name": "FOMECH",
                "udi": "umb://document/0b50d0d3d46a47c5a549a471faaeaa2d"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/37d6d7ad29e6463b87640870d3119a07",
            "comboBoxMatchElementText": "Asesoria personalizada",
            "comboBoxMatchElementURL": [
              {
                "name": "MIFAM",
                "udi": "umb://document/6bf0b06834a842e18247a92dda589344"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/00669c1ce8c3438391b6fbb235423ef1",
            "comboBoxMatchElementText": "Conseguir empleo",
            "comboBoxMatchElementURL": [
              {
                "name": "Bolsa de trabajo",
                "udi": "umb://document/931e34810525467eb5e05e8624b71982"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/a4239f6a7c404469bc971bade62e032a",
            "comboBoxMatchElementText": "Mejorar mis oportunidades laborales",
            "comboBoxMatchElementURL": [
              {
                "name": "ENCES",
                "udi": "umb://document/94152f536a4e4879a6c205272593f60e"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </searchComboContents>
    <selectColor>
      <Value><![CDATA[#ffffff]]></Value>
    </selectColor>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>