<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5f20e7e-cad1-41d7-b2c1-de8bb829cb1d" Alias="Mi situación fiscal" Level="4">
  <Info>
    <Parent Key="6eef8fe4-ecdf-4dba-bca8-086dc7df2615">Emprendimiento</Parent>
    <Path>/Home/DDEyC/Emprendimiento/MiSituacionFiscal</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-05-27T17:22:36</CreateDate>
    <NodeName Default="Mi situación fiscal" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>