<?xml version="1.0" encoding="utf-8"?>
<Content Key="553fdd5f-b480-43d2-ae2b-ac44aacb400f" Alias="Otros programas de la red" Level="4">
  <Info>
    <Parent Key="ea8ecbbe-2b68-4143-8f41-83964915d81d">Apoyos y Financiamientos</Parent>
    <Path>/Home/DDEyC/ApoyosYFinanciamientos/OtrosProgramasDeLaRed</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-05-27T17:31:57</CreateDate>
    <NodeName Default="Otros programas de la red" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>