<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6b88b09-589d-407d-99c7-5aa7d17b9571" Alias="Tianguis de productores" Level="4">
  <Info>
    <Parent Key="a899d4b7-655e-45c0-831e-6d76f2e32ec4">Ferias y Eventos</Parent>
    <Path>/Home/DDEyC/FeriasYEventos/TianguisDeProductores</Path>
    <Trashed>false</Trashed>
    <ContentType>generalContentPage</ContentType>
    <CreateDate>2024-05-27T17:27:56</CreateDate>
    <NodeName Default="Tianguis de productores" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce990f62-9407-40f9-bd6c-69df55b9af16">GeneralContentPage</Template>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage2>
    <contentPageBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/38e3a56364924e138049817b94e89ed5"
      },
      {
        "contentUdi": "umb://element/94992242acfd454cbd2cbb4c7ae8c82f"
      },
      {
        "contentUdi": "umb://element/77ea9252e77246268592f442fb84f957"
      },
      {
        "contentUdi": "umb://element/125e5eef5fcc477ea1d4237b41f147e5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
      "udi": "umb://element/38e3a56364924e138049817b94e89ed5",
      "richText": {
        "markup": "<p style=\"text-align: center;\" dir=\"ltr\"><em><strong>TIANGUIS DE PRODUCTORES LOCALES</strong></em></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "fontSize": "38"
    },
    {
      "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
      "udi": "umb://element/94992242acfd454cbd2cbb4c7ae8c82f",
      "richText": {
        "markup": "<p dir=\"ltr\">El <strong>\"Tianguis de Productores Locales\"</strong> es una iniciativa del Gobierno Municipal de Chihuahua que como objetivo brindar un espacio para que  los productores locales puedan ofrecer, comercializar y posicionar sus productos elaborados por ellos mismos. Este evento permite que los productores locales puedan generar ingresos directos e indirectos en un ambiente familiar y festivo.</p>\n<p dir=\"ltr\"> </p>\n<p dir=\"ltr\"><strong>Características</strong></p>\n<p dir=\"ltr\">En el tianguis, se podrán encontrar una variedad de productos locales, desde alimentos frescos hasta artesanías únicas, todos elaborados por productores de la región.</p>\n<p dir=\"ltr\">Es un ambiente totalmente familiar, con actividades y amenidades para toda la familia,incluyendo música en vivo de grupos locales.</p>\n<p dir=\"ltr\">Si eres un productor local y te interesa participar en nuestros tianguis, ¡contáctanos!</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "fontSize": "18"
    },
    {
      "contentTypeKey": "f3eb32d8-6a6a-46f1-8e73-4cbf060bd452",
      "udi": "umb://element/77ea9252e77246268592f442fb84f957",
      "imageCarouselRowItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f63c87bdcc4f47f19a2827ef47ce3aa3"
            },
            {
              "contentUdi": "umb://element/d27186fd075843cabeff0ddffe25e077"
            },
            {
              "contentUdi": "umb://element/5745d8361d684e858465438d21f3bc75"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
            "udi": "umb://element/f63c87bdcc4f47f19a2827ef47ce3aa3",
            "imageCarouselItem": [
              {
                "key": "67fe2bdc-5b8f-4fae-8730-313ab51f44e7",
                "mediaKey": "1d80b674-61a1-4b2a-9fb1-011681151c93"
              }
            ],
            "imageCarouselItemURL": null
          },
          {
            "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
            "udi": "umb://element/d27186fd075843cabeff0ddffe25e077",
            "imageCarouselItem": [
              {
                "key": "77977272-64eb-45f0-99bd-aef0cf5bdbf3",
                "mediaKey": "d8b7f75c-b7ad-419b-bcfa-754edc359fce"
              }
            ],
            "imageCarouselItemURL": null
          },
          {
            "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
            "udi": "umb://element/5745d8361d684e858465438d21f3bc75",
            "imageCarouselItem": [
              {
                "key": "48e95a69-538a-4227-9460-a51c4a5e1a10",
                "mediaKey": "4a4c131f-df50-4ca3-9ae9-df61a663c46d"
              }
            ],
            "imageCarouselItemURL": null
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "b32a639a-9fcb-4c65-bbd0-609e37384969",
      "udi": "umb://element/125e5eef5fcc477ea1d4237b41f147e5",
      "richText": {
        "markup": "<p dir=\"ltr\">Si eres un productor local y te interesa participar en nuestros tianguis,&nbsp;<strong>¡contáctanos!&nbsp; </strong>Participa en el&nbsp;Tianguis de Productores Locales y apoya a la economía local mientras disfrutas de productos de calidad. ¡Te esperamos!</p>\n<p dir=\"ltr\"><strong>Teléfono:</strong> Llama al 072 o al 614 200 4800 extensión 2952.</p>\n<p dir=\"ltr\"><strong>Visítanos:</strong> Oficinas de la Dirección de Desarrollo Económico&nbsp;y Competitividad del Gobierno Municipal, ubicadas en Calle Escorza 307, Zona Centro&nbsp;de Lunes a Viernes de 08:30 a 15:30 hrs.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "fontSize": "18"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentPageBlocks>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>