<?xml version="1.0" encoding="utf-8"?>
<Content Key="75fb4c2b-5087-48b5-84c8-083f25f7caa4" Alias="Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2024-05-22T01:03:08</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="a1534049-127c-4287-acfb-2c7b0b9677bd">LandingPage</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bottomHeaderImage1>
      <Value><![CDATA[[]]]></Value>
    </bottomHeaderImage1>
    <bottomHeaderImage2>
      <Value><![CDATA[[
  {
    "key": "ed26d3f7-4fbb-4994-acde-fd49ce88430b",
    "mediaKey": "d2e73e1e-dbd8-43ad-b381-68dbd2c3b3cf"
  }
]]]></Value>
    </bottomHeaderImage2>
    <comboBox1Title>
      <Value><![CDATA[]]></Value>
    </comboBox1Title>
    <comboBox2Title>
      <Value><![CDATA[]]></Value>
    </comboBox2Title>
    <comboBox3Title>
      <Value><![CDATA[]]></Value>
    </comboBox3Title>
    <defaultSearchComboText>
      <Value><![CDATA[Seleccione una opción]]></Value>
    </defaultSearchComboText>
    <editText>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: left;\"><strong>NOTICIAS</strong></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </editText>
    <embededVideo>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6f96a87f1c914612a9090cb819a8bd02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0021ecff-cc95-4cbc-b053-4435944b0083",
      "udi": "umb://element/6f96a87f1c914612a9090cb819a8bd02",
      "videoEmbedURL": [
        {
          "name": "Video",
          "url": "https://www.youtube.com/embed/qjzoK02Luvw",
          "queryString": ""
        }
      ],
      "hideVideoEmbed": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </embededVideo>
    <fontSizeEditor>
      <Value><![CDATA[2]]></Value>
    </fontSizeEditor>
    <headerImageUrl1>
      <Value><![CDATA[]]></Value>
    </headerImageUrl1>
    <headerImageUrl2>
      <Value><![CDATA[]]></Value>
    </headerImageUrl2>
    <headerImageUrl3>
      <Value><![CDATA[]]></Value>
    </headerImageUrl3>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <hideHeaderImages>
      <Value><![CDATA[0]]></Value>
    </hideHeaderImages>
    <hideHomeRedirectButton>
      <Value><![CDATA[0]]></Value>
    </hideHomeRedirectButton>
    <hideSearchComboContents>
      <Value><![CDATA[0]]></Value>
    </hideSearchComboContents>
    <homeRedirectButtonColor>
      <Value><![CDATA[]]></Value>
    </homeRedirectButtonColor>
    <homeRedirectButtonText>
      <Value><![CDATA[Bolsa de trabajo]]></Value>
    </homeRedirectButtonText>
    <homeRedirectButtonTextColor>
      <Value><![CDATA[]]></Value>
    </homeRedirectButtonTextColor>
    <homeRedirectButtonURL>
      <Value><![CDATA[[
  {
    "name": "linkedin",
    "url": "https://www.google.com/"
  }
]]]></Value>
    </homeRedirectButtonURL>
    <imageCarousel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e29e19213d764d83ab5c24a6092ef323"
      },
      {
        "contentUdi": "umb://element/7728432e911442a9a7fc1b9f4eaf478d"
      },
      {
        "contentUdi": "umb://element/7e72912bfca54260bd63a7bbd2fa804c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
      "udi": "umb://element/e29e19213d764d83ab5c24a6092ef323",
      "imageCarouselItem": [
        {
          "key": "81664a63-05b9-45e2-ae37-83ae53a64d85",
          "mediaKey": "d8ff693b-9b9a-4af4-b81c-b144c214f95c"
        }
      ],
      "imageCarouselItemURL": [
        {
          "name": "Home",
          "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
        }
      ]
    },
    {
      "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
      "udi": "umb://element/7e72912bfca54260bd63a7bbd2fa804c",
      "imageCarouselItem": [
        {
          "key": "039bc98d-2dc1-4512-9e94-0f3c00696e3b",
          "mediaKey": "db3c8ffe-0b36-4d30-abab-a703946fc55a"
        }
      ],
      "imageCarouselItemURL": [
        {
          "name": "Home",
          "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
        }
      ]
    },
    {
      "contentTypeKey": "72891951-86de-4ad3-b392-2a374e693efa",
      "udi": "umb://element/7728432e911442a9a7fc1b9f4eaf478d",
      "imageCarouselItem": [
        {
          "key": "8de48414-3a73-4f21-8344-a971f72341ef",
          "mediaKey": "3508eddc-36b6-4d71-9bcd-9d9bae4d2503"
        }
      ],
      "imageCarouselItemURL": null
    }
  ],
  "settingsData": []
}]]></Value>
    </imageCarousel>
    <newsCarousel>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0e1fd5f922d845769ca33bc96fb43aaa"
      },
      {
        "contentUdi": "umb://element/b595e94d09174670a81fa94d65bf8c89"
      },
      {
        "contentUdi": "umb://element/f7fec3d0bfeb4af9a0afce72a3cc5464"
      },
      {
        "contentUdi": "umb://element/6f3f9917a2c64d0da6f251c91c7d7560"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/0e1fd5f922d845769ca33bc96fb43aaa",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>Participa en Taller de IA que ofrece el municipio<br></strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<p style=\"text-align: left;\">De manera gratuita aprenderás a utilizar las herramientas digitales para hacer crecer tu negocio</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "434ba2e7-b04a-44fe-8b9e-cf2bc27aad58",
          "mediaKey": "eeb98a4a-b14e-4f47-9bbe-5b16b57d3e0f"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "Home",
          "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
        }
      ],
      "newsCarouselTitle": {
        "markup": "<p><strong>NOTICIAS</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/6f3f9917a2c64d0da6f251c91c7d7560",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>Esta es la importancia de realizar un plan de negocios </strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<p style=\"text-align: left;\">Resumen ejecutivo, descripción del producto o servicio, análisis de mercado y competencia, modelo de negocio, estructura, modelo financiero, plan de marketing y comunicación, y una estrategia para afrontar los riesgos</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "2d0aef6f-cccc-4be0-9c7e-af1b37a5e2ba",
          "mediaKey": "4d84271c-46d7-41f0-a814-c929a6ae777f"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "https://www.elheraldodechihuahua.com.mx/finanzas/cual-es-la-importancia-de-realizar-un-plan-de-negocios-11832476.html",
          "url": "https://www.elheraldodechihuahua.com.mx/finanzas/cual-es-la-importancia-de-realizar-un-plan-de-negocios-11832476.html"
        }
      ]
    },
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/f7fec3d0bfeb4af9a0afce72a3cc5464",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>Emprendedores trabajan hasta 70 horas a la semana</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<p style=\"text-align: left;\">Un estudio menciona que los emprendedores tienen 50% más probabilidades de padecer ansiedad, fatiga, insomnio y depresión.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "05feae0a-c3ba-4a2c-b9c3-0da1d339ad0a",
          "mediaKey": "0d86ca5f-0780-453a-af89-ca95ac20e267"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "Depresión",
          "url": "https://www.elheraldodechihuahua.com.mx/doble-via/salud/emprendedores-trabajan-hasta-70-horas-a-la-semana-propensos-a-padecer-ansiedad-y-depresion-11576016.html"
        }
      ]
    },
    {
      "contentTypeKey": "1a27d8e7-e818-4abb-9dba-2c0db0a42852",
      "udi": "umb://element/b595e94d09174670a81fa94d65bf8c89",
      "newsCarouselItemText1": {
        "markup": "<p style=\"text-align: left;\"><strong>Impulsa Municipio a emprendedores a través de MiPyME </strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemText2": {
        "markup": "<div id=\"content-body-225-11870979\">\n<p style=\"text-align: left;\">El Gobierno Municipal de Chihuahua, a través de la Dirección de Desarrollo Económico y Competitividad, ha implementado el programa Impulso Municipal MiPyME, con el que otorga créditos a emprendedores para arrancar sus negocios y posicionarse en el mercado.</p>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "newsCarouselItemImage": [
        {
          "key": "67eabfbf-e427-40b3-80f8-69b700bb7890",
          "mediaKey": "7d35f63a-9bcf-40af-9ea8-06898ced692d"
        }
      ],
      "newsCarouselItemURL": [
        {
          "name": "Yeah",
          "url": "https://www.elheraldodechihuahua.com.mx/finanzas/impulsa-municipio-a-emprendedores-a-traves-del-programa-impulso-municipal-mipyme-11405364.html"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </newsCarousel>
    <richTextAndImages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/efa71da899a54aa7a07f3a7dce9a466a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5b964be8-7e88-4369-86c1-db29c98150af",
      "udi": "umb://element/efa71da899a54aa7a07f3a7dce9a466a",
      "richTextAndImageTitle": "INFORMACIÓN ESTADÍSTICA",
      "richTextAndImageItemText": {
        "markup": "<p><strong>Según el censo económico de 2019 en el estado de Chihuahua<br></strong></p>\n<p>El 92.4% son microempresas<br>El 7.1% son Pequeñas y Medianas empresas<br>El 0.5% son Grandes empresas</p>\n<p> </p>\n<p>Por otra parte enfocándonos en la distribución por sector<strong>, </strong>según datos más recientes, en Chihuahua hay <strong>36 mil 118 empresas</strong>, de las cuales el<strong> 90.2% son del sector terciario...</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "richTextAndImageItemImage": [
        {
          "key": "6a26da0e-8181-443d-bdd3-d5e960f46a9c",
          "mediaKey": "da72dcb5-eaf5-46b8-bfd9-bf3415102534"
        }
      ],
      "richTextAndImageItemUrl": [
        {
          "name": "Home",
          "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </richTextAndImages>
    <searchComboContents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/998c86c324c541f894a018bdc93c122a"
      },
      {
        "contentUdi": "umb://element/0b891c432c6f41e09817494aff419375"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/998c86c324c541f894a018bdc93c122a",
      "comboBoxUserName": "Test",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2c388c03900f4d3c9f4964826cef6259"
            },
            {
              "contentUdi": "umb://element/7006a17eac114b4286cc3a8fe275a26a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/2c388c03900f4d3c9f4964826cef6259",
            "comboBoxMatchElementText": "Test",
            "comboBoxMatchElementURL": [
              {
                "name": "Home",
                "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
              }
            ]
          },
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/7006a17eac114b4286cc3a8fe275a26a",
            "comboBoxMatchElementText": "Element 2",
            "comboBoxMatchElementURL": [
              {
                "name": "test micrositios",
                "udi": "umb://document/39e70b2083db4ea9869abd16baa6888a"
              }
            ]
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "75429ef7-8739-4034-a20f-b6355baeab1d",
      "udi": "umb://element/0b891c432c6f41e09817494aff419375",
      "comboBoxUserName": "a",
      "comboBoxUserMatches": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d0b6818bd0f143babf55b1d2f9d0d0d0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6ea3bac5-7214-4854-bc92-7ca2815629fe",
            "udi": "umb://element/d0b6818bd0f143babf55b1d2f9d0d0d0",
            "comboBoxMatchElementText": "ae",
            "comboBoxMatchElementURL": [
              {
                "name": "Home",
                "udi": "umb://document/06b386fc49614ee49f01bcdbdb53ca5c"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </searchComboContents>
    <selectColor>
      <Value><![CDATA[#ffffff]]></Value>
    </selectColor>
    <topHeaderImage>
      <Value><![CDATA[[]]]></Value>
    </topHeaderImage>
  </Properties>
</Content>