@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<object>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@{
    Layout = null;
    const string HomeName = "Home";
    const string DefaultSurveyNodeName = "DefaultSurvey";
    const string Questions = "questions";
    //get Home Node
    var rootNode = Umbraco.ContentAtRoot().Where(x => x.Name == HomeName).FirstOrDefault();
    // ghet default Survey
    var DefaultSurveyNode = rootNode.Children.FirstOrDefault(x => x.Name == DefaultSurveyNodeName);
    // get Questions Content
    IEnumerable<BlockListItem> DefaultQuestions = DefaultSurveyNode?.Value<IEnumerable<BlockListItem>>(Questions) ?? Enumerable.Empty<BlockListItem>();
}


<body>
    <div>
        @foreach (var question in DefaultQuestions)
        {
            <ul>
                @if (question != null && question.Content is ContentModels.QuestionElement questionElement)
                {
                    <li>
                        <h1>@questionElement.Question</h1>
                        <ul>
                            @foreach(var answers in questionElement.Answer)
                            {
                                <li>
                                    @if (answers.Content is ContentModels.RichTextItems richTextItems)
                                    {
                                        <p>@richTextItems.RichText</p>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </div>
</body>
