@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Incubadoras>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@{
	Layout = "Main.cshtml";
    var newsHeadline = Model.EditText;
    var fontSizeHeadline = Model.FontSizeEditor;
    var colorHeadline = Model.SelectColor;
    var hideHeadline = Model.Hide;
}
<div>
    @await Html.PartialAsync("Partials/homePage/_navigation.cshtml")
</div>
@*headline Title*@
<div class="headlineTitle m-5">
    @if(newsHeadline != null && hideHeadline != true)
    {
        <h1 id="headline" style="color:@colorHeadline">@newsHeadline</h1>
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var fontSizeHeadline = @fontSizeHeadline;
            document.getElementById("headline").style.fontSize = fontSizeHeadline + "rem";
        });
    </script>
</div>
@*Content*@
<div class="m-3">
    @foreach (var item in Model.IncubadoraGeneralContent)
    {
        if(item.Content is ContentModels.RichTextItems text)
        {
            
            <div  class="m-5">
                @Html.Raw(text.RichText)
            </div>
        }
        if(item.Content is ContentModels.ImageCarouselRow imageRow)
        {
            string uniqueCarouselId = $"imageCarousel-{item.GetHashCode()}";
    <div class="mt-3">
        @Html.Partial("Partials/homePage/_imageCarousel", imageRow.ImageCarouselRowItems, new ViewDataDictionary(ViewContext.ViewData) { { "CarouselId", uniqueCarouselId } })
    </div>
        }
    }
</div>

