@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.JobListingsPage>
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Styles/GeneralContentPage.css" />
</head>

<div>
    @await Html.PartialAsync("Partials/homePage/_navigation.cshtml")
</div>
@if (Model.ShowChatBot)
{
    @await Html.PartialAsync("Partials/_chatWidget")
}
 @await Html.PartialAsync("_SharedContentPage", Model) 