@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.JobListingsPage>
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
}

<div class="job-listings-page">
    @await Html.PartialAsync("Partials/homePage/_navigation.cshtml")
    
    @if (Model.ShowChatBot)
    {
        <div>
            @await Html.PartialAsync("Partials/_chatWidget")
        </div>
    }
    
    <div class="job-listings-content">
        @await Html.PartialAsync("_SharedContentPage", Model)
    </div>
</div>