@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Main.cshtml";
}

<div class="jumbotron text-center">
	<h1 class="display-4">Welcome to Our Website!</h1>
	<p class="lead">This is a simple landing page for our awesome website.</p>
	<hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<div class="mt-3">
		@await Html.PartialAsync("Partials/homePage/_redirectButton")
	</div>
	<div class="mt-3">
		@await Html.PartialAsync("Partials/homePage/_newsCarousel")
	</div>
</div>