@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<LandingPage>

@{
	Layout = "Main.cshtml";
}

<div class="jumbotron text-center">
	<h1 class="display-4">Welcome to Our Website!</h1>
	<p class="lead">Bienvenido</p>
	<hr class="my-4">
	<p>Esto es texto de prueba</p>
	<div class="mt-3">
		@await Html.PartialAsync("Partials/homePage/_redirectButton")
	</div>
	<div class="mt-3">
		@await Html.PartialAsync("Partials/homePage/_newsCarousel")
	</div>
    <div class="mt-3">
        @Model.RichTextAndImages.Count
       @{
            var textAndImageBlocks = Model.RichTextAndImages;
    
            foreach (var block in textAndImageBlocks)
            {
            @await Html.PartialAsync("Partials/_textAndImage", block.Content)
            }
        }
        </div>
</div>